<div class="works-list__item">
    <div class="works-list__item__inner">
        <div class="works-list__item__img">
            <div class="works-list__item__img__wrapper">
                <img src="img/works/@@img.jpg"
                     srcset="img/works/@@img@2x.jpg 2x,
                     img/works/@@img@3x.jpg 3x"
                     class="works-list__item__img__wrapper__img"
                     alt="alt text">
            </div>
        </div>
        <div class="works-list__item__content">
            <div class="works-list__item__content__head">
                <div class="works-list__item__content__col">
                    <p class="works-list__item__h">Объект:</p>
                    <p class="works-list__item__text">@@name</p>
                </div>
                <div class="works-list__item__content__col">
                    <p class="works-list__item__h">Выполненные работы:</p>
                    <p class="works-list__item__text @@if(overflow){_overflow}">@@text</p>
                </div>
            </div>
            <div class="works-list__item__content__foot">
                <a href="#" class="btn _primary _solid _sm works-list__item__btn">Посмотреть</a>
            </div>
        </div>
    </div>
</div>