<div class="works-list">
    @@loop('item.html', [
    {
    "img": 1,
    "name": "Автосалон Nissan Datsun, г. Н. Новгород, Комсомольское шоссе, д. 12а",
    "text": "автоматические секционные ворота",
    "overflow": false
    },
    {
    "img": 2,
    "name": "магазин спортивных товаров «Декатлон», г. Н. Новгород",
    "text": "кровля ПВХ-мембраной",
    "overflow": false
    },
    {
    "img": 3,
    "name": "ТЦ Март, г. Н. Новгород",
    "text": "кровля наплавляемыми рулонными материалами",
    "overflow": false
    },
    {
    "img": 4,
    "name": "ТЦ Азимут, г. Дзержинск, Нижегородская обл.",
    "text": "вентилируемая фасадная система, витражи, двери, окна из алюминиевых профилей, автоматические секционные ворота, рулонные, вентилируемая фасадная система, витражи, двери",
    "overflow": true
    },
    {
    "img": 1,
    "name": "Автосалон Nissan Datsun, г. Н. Новгород, Комсомольское шоссе, д. 12а",
    "text": "автоматические секционные ворота",
    "overflow": false
    },
    {
    "img": 2,
    "name": "магазин спортивных товаров «Декатлон», г. Н. Новгород",
    "text": "кровля ПВХ-мембраной",
    "overflow": false
    },
    {
    "img": 3,
    "name": "ТЦ Март, г. Н. Новгород",
    "text": "кровля наплавляемыми рулонными материалами",
    "overflow": false
    },
    {
    "img": 4,
    "name": "ТЦ Азимут, г. Дзержинск, Нижегородская обл.",
    "text": "вентилируемая фасадная система, витражи, двери, окна из алюминиевых профилей, автоматические секционные ворота, рулонные, вентилируемая фасадная система, витражи, двери",
    "overflow": true
    },
    {
    "img": 1,
    "name": "Автосалон Nissan Datsun, г. Н. Новгород, Комсомольское шоссе, д. 12а",
    "text": "автоматические секционные ворота",
    "overflow": false
    },
    {
    "img": 2,
    "name": "магазин спортивных товаров «Декатлон», г. Н. Новгород",
    "text": "кровля ПВХ-мембраной",
    "overflow": false
    }
    ])
</div>