<div class="slider__item">
    <span class="slider__item__content">
        <span class="slider__item__content__head">
            <span class="slider__item__text">
                Доставка по городу<br>
                за 390 ₽
            </span>
            <span class="slider__item__accent">
                только при заказе через сайт
            </span>
        </span>
        <span class="slider__item__content__foot">
            <a href="#" class="btn _secondary _solid">Подробнее</a>
        </span>
    </span>
    <span class="slider__item__img-wrapper">
        <img class="slider__item__img" src="img/promo/banner1.png" alt="alt text">
    </span>
</div>