<div class="slider__item">
    <span class="slider__item__content">
        <span class="slider__item__content__head">
            <span class="slider__item__text-wrapper">
                <span class="slider__item__text" style="background-color: rgba(63, 120, 204, 0.5)">Длинная строка без принудлительных переносов</span>
            </span>
            <span class="slider__item__accent">
                за 369 ₽
            </span>
        </span>
        @@if (more) {
            <span class="slider__item__content__foot">
                <a href="#" class="btn _secondary _solid">Подробнее</a>
            </span>
        }
    </span>
    <span class="slider__item__img-wrapper">
        <img class="slider__item__img" 
             src="img/promo/banner.jpg" 
             alt="alt text">
    </span>
</div>