<div class="category-menu js-category-menu">
    <div class="category-menu__h _opened js-category-menu__toggler">О нас</div>
    <ul class="category-menu__list js-category-menu__slide">
        <li class="category-menu__list__item">
            <a href="#" 
               class="category-menu__list__item__link @@if(active == 'stock') {_active}">
                Акции
            </a>
        </li>
        <li class="category-menu__list__item">
            <a href="#" 
               class="category-menu__list__item__link @@if(active == 'works') {_active}">
                Примеры работ
            </a>
        </li>
        <li class="category-menu__list__item">
            <a href="#" 
               class="category-menu__list__item__link @@if(active == 'reviews') {_active}">
                Отзывы
            </a>
        </li>
    </ul>
</div>