<div class="shipping__car-slider__item">
    <div class="shipping__car-slider__item__img">
        <img src="img/car.png"
             srcset="img/car@2x.png 2x,
             img/car@3x.png 3x"
             alt="alt text">
    </div>
    <div class="shipping__car-slider__item__text">
        <span class="shipping__car-slider__item__h">@@title</span>
        <dl class="shipping__car-slider__item__dl">
            <dt>Грузоподъемность</dt>
            <dd>до 4 т</dd>
            <dt>Макс. длина груза</dt>
            <dd>до 5,5 м</dd>
            <dt>Объем</dt>
            <dd>до 24 м³</dd>
        </dl>
    </div>
</div>