<div class="shipping__car-slider__item">
    <div class="shipping__car-slider__item__img _action">
        <img src="img/shipping.png"
             srcset="img/shipping@2x.png 2x,
             img/shipping@3x.png 3x"
             alt="alt text">
        <span class="shipping__car-slider__item__img__badge">Акция</span>
    </div>
    <div class="shipping__car-slider__item__text">
        <span class="shipping__car-slider__item__h">Льготная доставка</span>
        <span class="shipping__car-slider__item__p">
            Мы подберем тип транспорта, исходя из габаритов вашего заказа. 
            <strong>Это не влияет на стоимость доставки.</strong>
        </span>
        <span class="shipping__car-slider__item__p _sm">
            Льготная доставка возможна только при выборе адреса в черте города.
        </span>
    </div>
</div>