<div class="minicart">
    Корзина <span class="minicart__counter">2</span>
    <span class="minicart__cost">15 450 <span class="rub">₽</span></span>
    <div class="minicart-popup">
        <h3 class="minicart-popup__h">Товар добавлен в корзину</h3>
        <table class="minicart-popup__t">            
            <tr>
                <td>
                    <img class="minicart-popup__t__img"
                         src="img/products/6.jpg" alt="alt text">
                </td>
                <td colspan="2">
                    <a href="#" class="minicart-popup__t__title">
                        ЕК TG40 гипсовая штукатурка 30 кг
                    </a>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <span class="minicart-popup__t__price">
                        3 266 <span class="rub">₽</span>
                    </span>
                    <span class="minicart-popup__t__variant">за штуку</span>
                </td>
                <td class="minicart-popup__t__count">
                    <a href="#" class="minicart-popup__t__change">
                        <i class="icon-minus"></i>
                    </a>
                    <span class="minicart-popup__t__total">
                        3
                    </span>
                    <a href="#" class="minicart-popup__t__change">
                        <i class="icon-plus"></i>
                    </a>
                </td>
                <td></td>
            </tr>
            
        </table>
        
        <div class="minicart-popup__f">
            <span class="minicart-popup__f__row">
                <a href="#" class="minicart-popup__f__link">Оформить заказ</a>
                <a href="#" class="minicart-popup__f__link _remove">Убрать из корзины</a>
            </span>
        </div>
        
    </div>
</div>