<!-- строка таблицы с товарами в e-mail -->
<tr class="order__tr">
    <td class="order__td _img">
        <a href="#" class="order__link">
            <img src="img/email/@@img.png" alt="alt text" class="order__img">
        </a>
    </td>
    <td class="order__td">
        <a href="#" class="order__link">
            @@title
        </a>
        <table class="table order__td__table">
            <tr>
                <td class="order__td"><span class="order__td__muted">Цена</span>@@price</td>
                <td class="order__td"><span class="order__td__muted">Кол-во</span>@@count</td>
                <td class="order__td"><span class="order__td__muted">Сумма</span>@@cost</td>
            </tr>
        </table>
    </td>
    <td class="order__td _md">@@price</td>
    <td class="order__td _md">@@count</td>
    <td class="order__td _md">@@cost</td>
</tr>