<div class="qa__item">
    <div class="qa__q">
        <span class="qa__h">
            @@name
            <span class="qa__h__date">@@date</span>
            <span class="qa__h__date">@@time</span>
        </span>
        <span class="qa__text">@@q</span>
        <a href="#" class="qa__reply">Ответить</a>
    </div>
    @@if (a != "") {
    <div class="qa__a">
        <span class="qa__h">
            Саксэс <i class="icon-logo"></i>
            <span class="qa__h__date">@@date</span>
            <span class="qa__h__date">@@time</span>
        </span>
        <span class="qa__text">
            @@a
        </span>
    </div>
    }
</div>