<div class="region-select">
    <div class="region-select__inner">
        <h3 class="region-select__h">Выберите свой регион</h3>
        <div class="region-select__row">
            <ul class="region-select__list">
                <li>
                    <a href="#" class="region-select__link _active">Нижний Новгород</a>
                    <ul class="region-select__list _sub">
                        <li><a href="#" class="region-select__link _sub">Богородск</a></li>
                        <li><a href="#" class="region-select__link _sub">Бор</a></li>
                        <li><a href="#" class="region-select__link _sub _active">Выкса</a></li>
                        <li><a href="#" class="region-select__link _sub">Дзержинск</a></li>
                        <li><a href="#" class="region-select__link _sub">Кстово</a></li>
                        <li><a href="#" class="region-select__link _sub">Павлово</a></li>
                        <li><a href="#" class="region-select__link _sub">Саров</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="region-select__list">
                <li><a href="#" class="region-select__link">Воронеж</a></li>
                <li><a href="#" class="region-select__link">Йошкар-Ола</a></li>
                <li><a href="#" class="region-select__link">Казань</a></li>
                <li><a href="#" class="region-select__link">Тверь</a></li>
                <li><a href="#" class="region-select__link">Муром</a></li>
                <li><a href="#" class="region-select__link">Набережные Челны</a></li>
                <li><a href="#" class="region-select__link">Самара</a></li>
                <li><a href="#" class="region-select__link">Санкт-Петербург</a></li>
                <li><a href="#" class="region-select__link">Саранск</a></li>
                <li><a href="#" class="region-select__link">Чебоксары</a></li>
            </ul>
        </div>
        <a href="#" class="region-select__nf">Моего города нет в списке, остаться на основном сайте</a>
        <button class="region-select__close js-region-closer"><i class="icon-close-circled"></i></button>
    </div>
</div>