<div class="block _md-full">
    <div class="block__content overflow-hidden">
        <div class="profits-list _full">
            @@loop('item.html', [
            { "img": "car1.svg", "text": "Дистрибуция строительных материалов", "tooltip": 0 },
            { "img": "roof.svg", "text": "Кровля", "tooltip": 0 },
            { "img": "fasade.svg", "text": "Фасады", "tooltip": 0 },
            { "img": "mansard.svg", "text": "Светопрозрачные конструкции", "tooltip": 0 },
            { "img": "garage-door.svg", "text": "Ворота, рольставни, автоматика", "tooltip": 0 },
            { "img": "project.svg", "text": "Проектирование", "tooltip": 0 },
            { "img": "build.svg", "text": "Строительство", "tooltip": 0 },
            { "img": "factory.svg", "text": "Производство", "tooltip": 0 }
            ])
        </div>
    </div>
</div>