<div class="block">
    <h3 class="block__h _border">Наши преимущества</h3>
    <div class="block__content">
        <div class="profits-list js-slider" data-slides='{"sm":1,"md":4,"lg":4}'>
            @@loop('item.html', [
            { "img": "rouble.svg", "text": "Цены на сайте выгоднее розничных", "tooltip": 0 },
            { "img": "car1.svg", "text": "Выгодная доставка при заказе на сайте", "tooltip": 0 },
            { "img": "car2.svg", "text": "Доставка собственным транспортом", "tooltip": 0 },
            { "img": "car3.svg", "text": "Доставка 24/7", "tooltip": 0 }
            ])
        </div>
    </div>
</div>