/*
404
*/

.nf {
    &__h {
        font-family: $font-family-alt;
        font-size: 100px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    &__lead {
        font-family: $font-family-alt;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.15;
        margin-bottom: 25px;
    }
    &__text {
        font-size: 17px;
        font-weight: 500;
        line-height: 1.47;
        margin-bottom: 0;
        max-width: 550px;
    }
    .link-back {
        margin-top: 60px;
        display: inline-block;
    }
}