.block {
    $root: &;
    background-color: $white;
    margin-bottom: 20px;
    margin-left: - $container-padding-sm;
    margin-right: - $container-padding-sm;
    @include media-breakpoint-up(md) {
        margin-bottom: 30px;
        margin-left: 0;
        margin-right: 0;
    }
    &._md-full {
        @include media-breakpoint-only(md) {
            margin-left: - $container-padding-md;
            margin-right: - $container-padding-md;
            #{$root}__h, #{$root}__content._padding, #{$root}__header, #{$root}__footer {
                padding-left: $container-padding-md;
                padding-right: $container-padding-md;
            }
        }        
    }
    &__h {
        margin-bottom: 0;
        font-size: 17px;
        font-weight: 600;
        font-family: $font-family-alt;
        font-style: normal;
        line-height: 1.22;
        padding-left: $container-padding-sm;
        padding-right: $container-padding-sm;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        min-height: 50px;
        @include media-breakpoint-up(md) {
            min-height: 60px;
            font-size: 22px;
            line-height: 1.18;
            padding-left: 24px;
            padding-right: 24px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 24px;
            min-height: 70px;
        }
        &._border {
            padding-bottom: 10px;
            border-bottom: 1px solid $gray-border;            
            border-top: 1px solid $gray-border;            
            &:first-child {
                border-top-width: 0;
            }
        }
        &._sm {
            @include media-breakpoint-up(md) {
                min-height: 55px;
                font-size: 20px;
                line-height: 1.15;
                padding-left: 18px;
                padding-right: 18px;
            }
        }
    }
    &__header {
        padding: $container-padding-sm;
        @include media-breakpoint-up(md) {
            padding-left: 24px;
            padding-right: 24px;
            padding-top: 18px;
            padding-bottom: 18px;
        }
        &._border {
            border-bottom: 1px solid $gray-border;            
        }
        &._sm {
            @include media-breakpoint-up(md) {
                padding-left: 18px;
                padding-right: 18px;
            }
        }
    }
    &__content {
        > :last-child {
            margin-bottom: 0;
        }
        @include media-breakpoint-up(md) {
            margin-left: 0;
            margin-right: 0;
        }
        &._padding {
            padding-left: $container-padding-sm;
            padding-right: $container-padding-sm;
            padding-top: $container-padding-sm;
            padding-bottom: $container-padding-sm;
            @include media-breakpoint-up(md) {
                padding: 24px;
            }
            &._sm {
                @include media-breakpoint-up(md) {
                    padding: 18px;
                }                
            }
        }
        &._rte {
            line-height: 1.43;
        }
    }
    &__list {
        @include list-unstyled;
        color: #7b7b7b;
        a {
            font-weight: 500;
        }
        li {
            margin-bottom: .5rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @include media-breakpoint-up(md) {
            margin-bottom: 1.2rem;
        }
    }
    &__more {
        font-size: 15px;
        font-weight: 500;
    }
    &__footer {
        padding: $container-padding-sm;
        @include media-breakpoint-up(md) {
            padding-left: 24px;
            padding-right: 24px;
            padding-top: 18px;
            padding-bottom: 18px;
        }
        &._border {
            border-top: 1px solid $gray-border;            
        }
        &._sm {
            @include media-breakpoint-up(lg) {
                padding-left: 18px;
                padding-right: 18px;
            }
            
        }
        &__btn {
            width: 100%;
            @include media-breakpoint-up(md) {
                width: auto;
                padding-left: 50px;
                padding-right: 50px;
            }
        }
    }
}

@include ie10up() {
    .block {
        &__h {
            height: 50px;
            @include media-breakpoint-up(md) {
                height: 60px;
            }
            @include media-breakpoint-up(lg) {
                height: 70px;
            }
            &._sm {
                @include media-breakpoint-up(md) {
                    height: 55px;
                }
            }
        }
    }
}