.content-list {
    margin-bottom: 40px;
    @include media-breakpoint-up(md) {
        margin-bottom: 50px;
    }
    @include media-breakpoint-up(lg) {
        margin-bottom: 60px;
    }
    &__row {
        @include media-breakpoint-up(md) {
            @include row(18px);
        }
        @include media-breakpoint-up(lg) {
            @include row(32px);
        }        
    }
    &__item {
        display: flex;
        margin-bottom: 20px;
        /*min-height: 410px;*/
        @include media-breakpoint-up(md) {
            @include col(33.33%, 18px);
            margin-bottom: 18px;
            /*min-height: 320px;*/
        }
        @include media-breakpoint-up(lg) {
            @include col(33.33%, 32px);
            margin-bottom: 32px;
            /*min-height: 398px;*/
        }
        &__inner {
            width: 100%;
            flex-grow: 1;
            background-color: $white;
            display: flex;
            flex-direction: column;
        }
        &__img {
            display: block;
            width: 100%;
        }
        &__content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 23px;
            @include media-breakpoint-up(md) {
                padding: 18px;
            }
            @include media-breakpoint-up(lg) {
                padding: 22px;
            }
            &__head {
                margin-bottom: 20px;
                &:last-child, :last-child {
                    margin-bottom: 0;
                }
            }
        }
        &__title {
            font-size: 17px;
            font-weight: 500;
            line-height: 1.41;
            margin-bottom: 11px;
            @include media-breakpoint-up(md) {
                font-size: 14px;
            }
            @include media-breakpoint-up(lg) {
                font-size: 17px;
            }
        }
        &__text {
            p {
                font-size: 14px;
                line-height: 1.35;
                margin-bottom: 12px;
                @include media-breakpoint-up(md) {
                    font-size: 12px;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 15px;
                    margin-bottom: 15px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &__muted {
            opacity: 0.5;
            font-size: 13px;
            font-weight: 500;
            @include media-breakpoint-only(md) {
                font-size: 12px;
            }
        }
        &__btn {
            font-size: 11px;
            display: block;
        }
    }
    &__btn {
        display: block;
        width: 100%;
        @include media-breakpoint-up(md) {
            width: 276px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}