form {
    margin: 0;
}
.btn {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    line-height: 46px;
    text-align: center;
    border-radius: $border-radius;
    padding: 0 .5em;
    background: transparent;
    color: $body-color;
    cursor: pointer;
    white-space: nowrap;
    transition: all .2s ease-in-out;
    border: solid 1px $body-color;
    &._solid {
        background-color: $body-color;
        color: $white;
    }
    &:hover {
        color: inherit;
        opacity: 1;
    }
    &._primary {
        border: solid 1px $primary;        
        color: $primary;        
        &:hover {
            background-color: $primary;
            color: $white;            
        }
        &._solid {
            background-color: $primary;
            color: $white;
            &:hover {
                background-color: #3c76cf;
                border-color: #3c76cf;
            }
        }
    }
    &._secondary {
        border: solid 1px $secondary;
        color: $secondary;
        &:hover {
            background-color: $secondary;
            color: $white;            
        }
        &._solid {
            background-color: $secondary;
            color: $white;
            &:hover {
                background-color: rgba($secondary, 0.87);
                border-color: rgba($secondary, 0.87);
            }
        }
    }
    &:focus {
        outline: none;
    }
    &._sm {
        line-height: 40px;
    }
}

.form {
    &__h {
        font-family: $font-family-alt;
        font-size: 17px;
        font-weight: 600;
        line-height: 1.29;
        text-align: center;
        margin-bottom: 27px;
        @include media-breakpoint-up(md) {
            font-size: 20px;
            margin-bottom: 33px;
        }
    }
    &__input-group {
        margin-bottom: 22px;
        &:last-child {
            margin-bottom: 0;
        }
        input {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    input, textarea {
        display: block;
        width: 100%;
        border-radius: $border-radius;
        border: solid 1px #dadada;
        background-color: $white;
        font-size: 14px;
        font-weight: normal;
        color: $body-color;
        outline: none;
        min-width: 0; //https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
        @include transition(border-color);
        &:focus {
            border-color: $primary;
        }
    }
    input {
        line-height: 46px;
        padding: 0 17px;
    }
    button {
        width: 100%;
    }
    ::placeholder {
        font-size: 14px;
        font-weight: 500;
        opacity: .5;
        color: $body-color;
    }

    &__label {
        display: block;
        label {
            font-size: 14px;
            font-weight: 500;
            opacity: .5;
            color: $body-color;
            @include transition(all)
            position: absolute;
            top: 16px;
            left: 17px;
            pointer-events: none;
            margin: 0;
        }
        input:focus + label, input:valid + label {
            font-size: 10px;
            transform: translate(-10px,-13px);
            
        }
    }

    input:focus::placeholder, input:valid::placeholder {
        font-size: 10px;
        transform: translateY(-15px);
        visibility: visible !important;
    }

}
.mac-os {
    .form input {
        line-height: unset;
        height: 48px;
        padding-bottom: 3px;
    }
    .form__label label {
        top: 14px;
    }
}

.checkbox {
    display: inline-block;
    opacity: 1;
    margin-bottom: 0;
    .checkbox__text {
        font-size: $font-size-base;
        font-weight: normal;
        line-height: 1.43;
        display: inline-block;
        padding-left: 29px;
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            background-color: #e3e7ec;
        }
        &:after {
            content: '';
            position: absolute;
            left: 5px;
            top: 5px;
            width: 8px;
            height: 8px;
            border-radius: 2px;
            background-color: #e3e7ec;
            @include transition(background-color)
        }
    }
    input {
        display: none;
        &:checked ~ .checkbox__text {
            &:after {
                background-color: $primary;
            }
        }
    }
    &._disabled {
        pointer-events: none;
        .checkbox__text {
            opacity: .5;
        }
    }
}