form {
    margin: 0;
}
.btn {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    line-height: 46px;
    text-align: center;
    border-radius: $border-radius;
    padding: 0 .5em;
    background: transparent;
    color: $body-color;
    cursor: pointer;
    white-space: nowrap;
    transition: all .2s ease-in-out;
    border: solid 1px $body-color;
    &._solid {
        background-color: $body-color;
        color: $white;
    }
    &:hover {
        color: inherit;
        opacity: 1;
    }
    &._primary {
        border: solid 1px $primary;        
        color: $primary;        
        &:hover {
            background-color: $primary;
            color: $white;            
        }
        &._solid {
            background-color: $primary;
            color: $white;
            &:hover {
                background-color: #3c76cf;
                border-color: #3c76cf;
            }
        }
    }
    &._secondary {
        border: solid 1px $secondary;
        color: $secondary;
        &:hover {
            background-color: $secondary;
            color: $white;            
        }
        &._solid {
            background-color: $secondary;
            color: $white;
            &:hover {
                background-color: rgba($secondary, 0.87);
                border-color: rgba($secondary, 0.87);
            }
        }
    }
    &:focus {
        outline: none;
    }
    &._sm {
        line-height: 40px;
    }
}

.form {
    .form__h {
        font-family: $font-family-alt;
        font-size: 17px;
        font-weight: 600;
        line-height: 1.29;
        text-align: center;
        margin-bottom: 27px;
        @include media-breakpoint-up(md) {
            font-size: 20px;
            margin-bottom: 33px;
        }
    }
    &__group {
        margin-bottom: 22px;
        &:last-child {
            margin-bottom: 0;
        }
        > * {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__row {
        @include media-breakpoint-up(md) {
            @include row(40px);
            .form__group {
                @include col(50%, 40px);
                margin-bottom: 0;
            }
        }
    }
    &__input-help {
        display: block;
        opacity: 0.5;
        font-size: 12px;
    }
    &__help {
        margin: 0;
    }
    input, textarea {
        display: block;
        width: 100%;
        border-radius: $border-radius;
        border: solid 1px #dadada;
        background-color: $white;
        font-size: 14px;
        font-weight: normal;
        color: $body-color;
        outline: none;
        min-width: 0; //https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
        @include transition(border-color);
        &:focus {
            border-color: $primary;
        }
    }
    input {
        line-height: 46px;
        padding: 0 17px;
    }
    textarea {
        padding: 15px 17px;
        height: 110px;
    }
    button {
        width: 100%;
    }
    ::placeholder {
        font-size: 14px;
        font-weight: 500;
        opacity: .5;
        color: $body-color;
    }

    &__label {
        display: block;
        label {
            font-size: 14px;
            font-weight: 500;
            opacity: .5;
            color: $body-color;
            @include transition(all)
            position: absolute;
            top: 16px;
            left: 17px;
            pointer-events: none;
            margin: 0;
        }
        input:focus + label, input:valid + label,
            textarea:focus + label, textarea:valid + label {
            font-size: 10px;
            transform: translate(-10px,-13px);

        }
        &__empty {
            font-size: 14px !important;
            transform: none !important;
        }
        input:required, textarea:required {
            + label:after {
                content: '*';
                display: inline;
            }
        }
    }

    input:focus::placeholder, input:valid::placeholder {
        font-size: 10px;
        transform: translateY(-15px);
        visibility: visible !important;
    }

    &._rte {
        background-color: $white;
        padding: 0 $container-padding-sm 20px;
        margin-left: - $container-padding-sm;
        margin-right: - $container-padding-sm;
        margin-bottom: 20px;
        @include media-breakpoint-up(md) {
            padding: 0 $container-padding-md 36px;
            margin-left: - $container-padding-md;
            margin-right: - $container-padding-md;
            margin-bottom: 50px;
        }
        @include media-breakpoint-up(lg) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 60px;
        }
        .form__h {
            padding: 17px $container-padding-sm 16px;
            text-align: left;
            border-bottom: 1px solid $gray-border;
            margin-left: - $container-padding-sm;
            margin-right: - $container-padding-sm;
            margin-top: 0;
            margin-bottom: 20px;
            @include media-breakpoint-up(md) {
                margin-left: - $container-padding-md;
                margin-right: - $container-padding-md;
                padding-left: $container-padding-md;
                padding-right: $container-padding-md;
                font-size: 17px;
            }
            @include media-breakpoint-up(lg) {
                font-size: 18px;
            }
        }
        @include media-breakpoint-up(md) {
            input, textarea {
                max-width: 373px;
            }
            .btn {
                max-width: 300px;            
            }
        }
    }

}
.mac-os {
    .form input {
        line-height: unset;
        height: 48px;
        padding-bottom: 3px;
    }
    .form__label label {
        top: 14px;
    }
}

.checkbox {
    display: inline-block;
    opacity: 1;
    margin-bottom: 0;
    .checkbox__text {
        font-size: $font-size-base;
        font-weight: normal;
        line-height: 1.43;
        display: inline-block;
        padding-left: 29px;
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            background-color: #e3e7ec;
        }
        &:after {
            content: '';
            position: absolute;
            left: 5px;
            top: 5px;
            width: 8px;
            height: 8px;
            border-radius: 2px;
            background-color: #e3e7ec;
            @include transition(background-color)
        }
    }
    input {
        display: none;
        &:checked ~ .checkbox__text {
            &:after {
                background-color: $primary;
            }
        }
    }
    &._disabled {
        pointer-events: none;
        .checkbox__text {
            opacity: .5;
        }
    }
}

.question-form {
    &__row {
        @include media-breakpoint-up(md) {
            display: flex;
            &__col {
                &:first-of-type {
                    width: 288px;
                }
                &:last-of-type {
                    flex: 1;
                }
            }
        }
        &:first-of-type {
            .question-form__row__col {
                &:first-of-type {
                    > * {
                        margin-bottom: 10px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                &:last-of-type {
                    > * {
                        margin-top: 10px;
                        @include media-breakpoint-up(md) {
                            margin-top: 0;
                            margin-left: 10px;
                            textarea {
                                height: 106px;
                            }
                        }
                    }
                }
            }
        }
        &:last-of-type {
            margin-top: 22px;
            align-items: flex-end;
            .question-form__row__col {
                &:last-of-type {
                    > * {
                        margin-top: 22px;
                        @include media-breakpoint-up(md) {
                            margin-top: 0;
                            margin-left: 65px;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}

.select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    border-radius: $border-radius;
    border: solid 1px #dadada;
    background-color: $white;
    font-size: 14px;
    font-weight: normal;
    color: $body-color;
    outline: none;
    line-height: 46px;
    padding: 0 17px;
    &._sm {
        line-height: 40px;
    }
    option[disabled] {
        display: none;
    }
}
.select-wrapper, .jq-selectbox {
    &:after {
        display: block;
        content: '\e801';
        font-family: 'fontello';
        position: absolute;
        right: 11px;
        top: 50%;
        transform: translateY(-50%);
        opacity: .7;
    }
    .jq-selectbox__dropdown {
        background: $white;
        border-style: solid;
        border-color: #dadada;
        border-radius: 0 0 3px 3px;
        border-width: 0 1px 1px;
        left: -1px;
        right: -1px;
        box-shadow: 0 12px 26px 0 rgba(0, 0, 0, 0.1);
        ul {
            padding: 0;
            margin-bottom: 0;
            li {
                padding: 0 17px;
                &.sel, &:hover {
                    color: $primary;
                }
            }
        }
    }
}