.offers {
    background-color: $white;
    margin-left: - $container-padding-sm;
    margin-right: - $container-padding-sm;
    padding: $container-padding-sm;
    font-size: 15px;
    @include media-breakpoint-up(md) {
        margin-left: - $container-padding-md;
        margin-right: - $container-padding-md;
        padding: $container-padding-md;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @include media-breakpoint-up(lg) {
        margin-left: 0;
        margin-right: 0;
        padding: $container-padding-md 43px;
    }
    &__title {
        display: block;
        font-family: $font-family-alt;
        font-size: 17px;
        font-weight: 600;
        line-height: 1.3;
        margin-bottom: 27px;
        @include media-breakpoint-up(md) {
            font-size: 20px;
            margin-bottom: 0;
            width: 330px;
        }
    }
    &__list {
        @include list-unstyled;
        margin-bottom: 0;
        &__item {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}