.pagination {
    @include list-unstyled;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-size: 0;
    .pagination__item {
        &._skip {
            padding: 0 5px;
            span {
                display: inline-block;
                width: 5px;
                height: 5px;
                border-radius: 100%;
                background-color: #c7c7c7;
                margin: 3px;
            }
        }
        @include media-breakpoint-only(sm) {
            &:first-child, &:last-child {
                flex: 1;
            }
        }
        .pagination__item__link {
            border-radius: $border-radius;
            font-size: 16px;
            font-weight: 600;
            line-height: 30px;
            display: block;
            text-align: center;
            margin: 0 10px;
            @include transition(all);
            &._active {
                pointer-events: none;
                background-color: #e3e7ec;
                color: $body-color;
                padding-left: 10px;
                padding-right: 10px;
                margin: 0;
            }
            &._first, &._last {
                color: #c3d1de;
                font-size: 22px;
                margin: 0;
                &:hover {
                    color: $primary;
                }
                &._disabled {
                    opacity: .7;
                    pointer-events: none;
                }
            }
            &._first {
                margin-right: 15px;
                text-align: left;
            }
            &._last {
                margin-left: 15px;
                text-align: right;
            }
            @include ie10up() {
                padding-top: 2px;
                line-height: 28px;
            }
        }
    }
}

.pagination-wrapper {
    background-color: $white;
    padding-left: $container-padding-sm;
    padding-right: $container-padding-sm;
    height: 58px;
    display: flex;
    align-items: center;
    .pagination {
        flex-grow: 1;
    }
    @include media-breakpoint-up(md) {
        padding-left: $container-padding-md;
        padding-right: $container-padding-md;
        height: 78px;
        justify-content: flex-end;
        .pagination {
            flex-grow: 0;
        }
    }
    &._full-md {
        margin-left: - $container-padding-sm;
        margin-right: - $container-padding-sm;
        @include media-breakpoint-up(md) {
            margin-left: - $container-padding-md;
            margin-right: - $container-padding-md;
        }
        @include media-breakpoint-up(lg) {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.onpage {
    display: flex;
    font-size: 15px;
    &__list {
        @include list-unstyled;
        margin-bottom: 0;
        &__item {
            display: inline-block;
            padding-left: 15px;
        }
    }
}