.partners-list {
    $root: &;
    display: flex;
    &__item {
        display: block;
        border-right: 1px solid $gray-border;
        width: 142px;
        height: 114px;
        @include media-breakpoint-up(lg) {
            width: 149px;
        }
        &:last-child {
            border-right-width: 0;
        }
        &__content {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            filter: grayscale(100%);
            opacity: .6;
            background-color: $white;
            transition: none;
            @include transition(all);
            padding: 10px;
            &._hover {
                filter: grayscale(0);
                opacity: 1;
            }
            img {
                width: 100%;
                max-width: 100%;
            }
        }
    }
    &._full {
        flex-wrap: wrap;
        margin-bottom: -1px;
        #{$root}__item {
            border-bottom: 1px solid $gray-border;
            width: 50%;
            height: 122px;
            @include media-breakpoint-down(sm) {
                &:nth-child(2n) {
                    border-right-width: 0;
                }
            }
            @include media-breakpoint-up(md) {
                width: 16.66%;
                height: 98px;
                &:nth-child(6n) {
                    border-right-width: 0;
                }
            }
            @include media-breakpoint-up(lg) {
                height: 114px;
            }
        }
    }
}