.partners-list {
    display: flex;
    &__item {
        display: block;
        border-right: 1px solid $gray-border;
        width: 142px;
        height: 114px;
        @include media-breakpoint-up(lg) {
            width: 149px;
        }
        &:last-child {
            border-right: none;
        }
        &__content {
            width: 142px;
            height: 114px;
            display: flex;
            align-items: center;
            justify-content: center;
            filter: grayscale(100%);
            opacity: .6;
            background-color: $white;
            transition: none;
            @include transition(all);
            &._hover {
                filter: grayscale(0);
                opacity: 1;
            }
            @include media-breakpoint-up(lg) {
                width: 149px;
            }
        }
    }
}