@mixin rte-margins () {
    margin-bottom: 40px;
    @include media-breakpoint-up(md) {
        margin-bottom: 50px;        
    }
    @include media-breakpoint-up(lg) {
        margin-bottom: 60px;
    }
}

.blockquote {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.4;
    text-align: center;
    background-color: #e6e6e6;
    background-image: linear-gradient(to right, $primary 50%, transparent 50%), 
        linear-gradient(to right, $primary 50%, transparent 50%), 
        linear-gradient(to bottom, $primary 50%, transparent 50%), 
        linear-gradient(to bottom, $primary 50%, transparent 50%);
    background-position: left top, left bottom, left top, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 10px 1px, 10px 1px, 1px 10px, 1px 10px;
    margin-left: - $container-padding-sm;
    margin-right: - $container-padding-sm;
    padding: $container-padding-sm;
    @include media-breakpoint-up(md) {
        font-size: 26px;
        line-height: 1.31;
        margin-left: 0;
        margin-right: 0;
        padding: $container-padding-sm 45px;
    }
    @include media-breakpoint-up(lg) {
        font-size: 24px;
        line-height: 1.4;
        padding: 30px 60px;
    }
}

.rte {
    @include clearfix;
    h2 {
        font-family: $font-family-alt;
        font-size: 17px;
        font-weight: 600;
        font-stretch: normal;
        line-height: 1.3;
        margin-top: 40px;
        margin-bottom: 20px;
        @include media-breakpoint-up(md) {
            margin-top: 50px;
            font-size: 20px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 24px;
            line-height: 1.4;
            margin-top: 60px;
            margin-bottom: 25px;
        }
        &:first-child {
            margin-top: 0;
        }
    }
    h3 {
        font-family: $font-family-alt;
        font-size: 17px;
        font-weight: 600;
        line-height: 1.35;
        margin-top: 20px;
        margin-bottom: 20px;
        @include media-breakpoint-up(md) {
            font-size: 18px;
            line-height: 1.28;
            font-size: 20px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 20px;
            line-height: 1.15;
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
    p, ul, ol {
        font-size: $font-size-base;
        line-height: 1.5;
        margin-bottom: 20px;
        @include media-breakpoint-up(lg) {
            font-size: 15px;
            margin-bottom: 25px;
        }
    }
    ul, ol {
        @include list-unstyled;
        li {
            padding-left: 35px;
            margin-bottom: 15px;
            &:last-of-type {
                margin-bottom: 0;
            }
            @include media-breakpoint-up(lg) {
                margin-bottom: 20px;
            }
        }
    }
    ul {
        li {
            &:before {
                position: absolute;
                font-size: 22px;
                left: 8px;
                top: -5px;
                content: '•';
                color: $primary;
            }
        }
    }
    ol {
        counter-reset: section;
        li {
            &:before {
                counter-increment: section;
                content: counters(section,".") ".";
                position: absolute;
                left: 10px;
            }
        }
    }
    blockquote {
        @extend .blockquote;
        margin-top: 40px;
        margin-bottom: 40px;
        @include media-breakpoint-up(md) {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
    &__table-wrapper {
        margin-left: - $container-padding-sm;
        margin-right: - $container-padding-sm;
        margin-bottom: 50px;
        overflow-x: auto;
        @include media-breakpoint-up(md) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 60px;
        }
    }
    table {
        width: 100%;
        tbody {
            tr {
                &:nth-child(odd) {
                    background-color: #f7f6f6;
                }
            }
        }
        td, th {
            padding: 30px $container-padding-sm;
            @include media-breakpoint-up(md) {
                padding: 30px 25px;
            }
        }
        th, td:first-child {
            font-weight: 600;
        }
    }
    &__img-left, &__img-right {
        margin-left: - $container-padding-sm;
        margin-right: - $container-padding-sm;
        img {
            display: block;
            max-width: 100%;
            @include media-breakpoint-up(md) {
                max-width: 317px;
            }
            @include media-breakpoint-up(lg) {
                max-width: 385px;
            }
        }
    }
    .rte__img-left, .rte__img-right {
        @include media-breakpoint-up(md) {
            margin-bottom: 10px;
        }
    }
    &__img-left {
        @include media-breakpoint-up(md) {
            float: left;
            margin-left: 0;
            margin-right: 22px;
        }
        @include media-breakpoint-up(lg) {
            margin-right: 26px;
        }
    }
    &__img-right {
        @include media-breakpoint-up(md) {
            float: right;
            margin-right: 0;
            margin-left: 22px;
        }
        @include media-breakpoint-up(lg) {
            margin-left: 26px;
        }
    }

    .tabs, .qa, .nav-slider {
        @include rte-margins;
    }

    .nav-slider {
        margin-left: - $container-padding-sm;
        margin-right: - $container-padding-sm;
        @include media-breakpoint-up(md) {
            margin-left: - $container-padding-md;
            margin-right: - $container-padding-md;
            @include nav-slider-vertical;
        }
        @include media-breakpoint-up(lg) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .qa {
        margin-left: - $container-padding-sm;
        margin-right: - $container-padding-sm;
        @include media-breakpoint-up(md) {
            margin-left: - $container-padding-md;
            margin-right: - $container-padding-md;
        }
        @include media-breakpoint-up(lg) {
            margin-left: 0;
            margin-right: 0;
        }
    }

}

.rte-reviews {
    @include rte-margins;
    &__item {
        background-color: $white;
        padding: 15px $container-padding-sm 20px;
        margin-left: - $container-padding-sm;
        margin-right: - $container-padding-sm;
        margin-bottom: 15px;
        @include media-breakpoint-up(md) {
            padding: 23px $container-padding-md 26px;
            margin-left: - $container-padding-md;
            margin-right: - $container-padding-md;
            margin-bottom: 20px;
        }
        @include media-breakpoint-up(lg) {
            margin-left: 0;
            margin-right: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &__head {
            margin-bottom: 16px;
            display: flex;
            &__img-wrapper {
                margin-right: 18px;
                flex-shrink: 0;
                &__img {
                    max-width: 52px;
                    border-radius: 50%;
                }
            }
            &__content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                &__h {
                    font-size: 18px;
                    margin-bottom: 8px;
                }
                &__date {
                    opacity: 0.5;
                    font-size: 12px;
                }
            }
        }
        &__text {
            font-size: $font-size-base;
            line-height: 1.43;
        }
    }
    &__btn {
        display: block;
        width: 100%;
        margin-top: 20px;
        @include media-breakpoint-up(md) {
            margin-top: 30px;
            width: 276px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}