.social-links {
    @include list-unstyled;
    font-size: 0;
    li {
        display: inline-block;
        margin-right: 10px;
        &:last-of-type {
            margin-right: 0;
        }
    }

}