.tabs {
    margin-left: - $container-padding-sm;
    margin-right: - $container-padding-sm;
    @include media-breakpoint-up(md) {
        margin-left: - $container-padding-md;
        margin-right: - $container-padding-md;
    }
    @include media-breakpoint-up(lg) {
        margin-left: 0;
        margin-right: 0;
    }
    .tabs__list {
        display: none;
        @include media-breakpoint-up(md) {
            @include list-unstyled;
            background-color: #e1e5ea;
            margin-bottom: 0;
            display: flex;
            text-align: center;
            min-height: 65px;
            padding-left: $container-padding-sm;
            padding-right: $container-padding-sm;
            padding-left: $container-padding-md;
            padding-right: $container-padding-md;
        }
        li {
            display: flex;
            padding-left: 0;
            min-width: unset;
            margin-bottom: 0;
            margin-right: 32px;
            @include media-breakpoint-up(lg) {
                margin-right: 62px;
            }
            &:last-child {
                margin-right: 0;
            }
            &:before {
                content: none;
            }
            a {
                min-width: unset;
                color: $body-color;
                font-size: 15px;
                display: flex;
                align-items: center;
                padding: 15px 0 14px;
            }
            &.active {
                a, .tabs__counter {
                    color: $primary;
                    font-weight: 600;
                }
            }
        }
    }
    &__counter {
        color: #818181;
        display: inline-block;
        font-weight: 600;
        margin-left: 1ex;
    }
    &__under {
        display: none;
        position: absolute;
        bottom: 0;
        width: 50px;
        height: 5px;
        background-color: $primary;
        z-index: 1;
        @include transition(all);
    }
    &__tab {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
        @include media-breakpoint-up(md) {
            margin-bottom: 0;
        }
        :first-child {
            margin-top: 0;
        }
        :last-child {
            margin-bottom: 0;
        }
        &__content {
            background-color: $white;
            padding: 30px $container-padding-sm;
            @include media-breakpoint-up(md) {
                padding: 30px $container-padding-md;
            }
            &._nopadding {
                padding: 0;
            }
        }
        &__toggler {
            background-color: #e1e5ea;
            font-size: 17px;
            font-weight: 500;
            padding: 15px $container-padding-sm;
            display: block;
            color: $body-color;
            cursor: pointer;
            &:after {
                content: '\e801';
                font-family: 'fontello';
                position: absolute;
                right: $container-padding-sm;
                top: 50%;
                transform: translateY(-50%);
            }
            &._opened {
                &:after {
                    content: '\e80e';
                }
            }
            @include media-breakpoint-up(md) {
                display: none;
            }
        }
    }
}