.tags {
    $root: &;
    @include list-unstyled;
    margin-bottom: 0;
    font-size: 0;
    &__item {
        display: inline-block;
        margin-right: 8px;
        margin-bottom: 8px;
    }
    &__close {
        display: none;
        margin-left: 15px;
        font-size: 8px;
        vertical-align: middle;
    }
    &__link {
        @include transition(all);
        display: block;
        font-size: 13px;
        /*line-height: 26px;*/
        text-align: center;
        color: $primary;
        padding: 5px 11px 4px;
        border-radius: $border-radius;
        background-color: #d7dee4;
        @media (hover: hover) {
            &:hover {
                color: $white;
                background-color: $primary;            
            }
        }
        &._active {
            color: $white;
            background-color: $primary;            
            #{$root}__close {
                display: inline-block;
            }
        }
        @include ie10up {
            padding-top: 7px;
        }
    }
}

.tags-wrapper {
    &__list {
        display: none;
        @include media-breakpoint-up(md) {
            display: block;
        }
    }
    &__select {
        display: block;
        @include media-breakpoint-up(md) {
            display: none;
        }
    }
}

.tags-with-header {
    &__h {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 9px;
    }
}