<div class="reviews-scan__item">
    <div class="reviews-scan__item__inner">
        <a href="img/reviews/@@img@3x.jpg" class="reviews-scan__item__img-wrapper js-popup">
            <img src="img/reviews/@@img.jpg"
                 srcset="img/reviews/@@img@2x.jpg 2x,
                 img/reviews/@@img@3x.jpg 3x"
                 class="reviews-scan__item__img-wrapper__img"
                 alt="alt text">
        </a>
        <div class="reviews-scan__item__content">
            <span class="reviews-scan__item__content__h">@@name</span>
            <span class="reviews-scan__item__content__date">Рукописный отзыв @@date</span>
        </div>
    </div>
</div>