<div class="reviews-video__item">
    <div class="reviews-video__item__inner">
        <div class="reviews-video__player embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
                    src="https://www.youtube.com/embed/@@src?rel=0&amp;controls=0&amp;showinfo=0" 
                    allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="reviews-video__item__content">
            <span class="reviews-video__item__content__h">@@title</span>
            <span class="reviews-video__item__content__date">Видеоотзыв @@date</span>
        </div>
    </div>
</div>