<div class="reviews-text">
    @@loop('item-text.html', [
    {
    "img": "reviews1",
    "name": "Дмитрий",
    "date": "15.05.2018",
    "text": "Покупал в САКСЭСе материалы для кровли. Всем очень доволен. Большой ассортимент кровельных материалов, быстрый расчёт, предложили несколько вариантов. Все доставили в срок. Буду советовать знакомым!"
    },
    {
    "img": "reviews2",
    "name": "Светлана Александровна",
    "date": "11.06.2018",
    "text": "Добрый день! Хочется поблагодарить компанию «Саксэс» за хорошую работу и доброе отношение к клиентам. Покупали ондулин на свою дачу. Всё рассчитали, привезли. Молодцы."
    },
    {
    "img": "reviews1",
    "name": "Дмитрий",
    "date": "15.05.2018",
    "text": "Покупал в САКСЭСе материалы для кровли. Всем очень доволен. Большой ассортимент кровельных материалов, быстрый расчёт, предложили несколько вариантов. Все доставили в срок. Буду советовать знакомым!"
    },
    {
    "img": "reviews2",
    "name": "Светлана Александровна",
    "date": "11.06.2018",
    "text": "Добрый день! Хочется поблагодарить компанию «Саксэс» за хорошую работу и доброе отношение к клиентам. Покупали ондулин на свою дачу. Всё рассчитали, привезли. Молодцы."
    },
    {
    "img": "reviews1",
    "name": "Дмитрий",
    "date": "15.05.2018",
    "text": "Покупал в САКСЭСе материалы для кровли. Всем очень доволен. Большой ассортимент кровельных материалов, быстрый расчёт, предложили несколько вариантов. Все доставили в срок. Буду советовать знакомым!"
    },
    {
    "img": "reviews2",
    "name": "Светлана Александровна",
    "date": "11.06.2018",
    "text": "Добрый день! Хочется поблагодарить компанию «Саксэс» за хорошую работу и доброе отношение к клиентам. Покупали ондулин на свою дачу. Всё рассчитали, привезли. Молодцы."
    },
    {
    "img": "reviews1",
    "name": "Дмитрий",
    "date": "15.05.2018",
    "text": "Покупал в САКСЭСе материалы для кровли. Всем очень доволен. Большой ассортимент кровельных материалов, быстрый расчёт, предложили несколько вариантов. Все доставили в срок. Буду советовать знакомым!"
    },
    {
    "img": "reviews2",
    "name": "Светлана Александровна",
    "date": "11.06.2018",
    "text": "Добрый день! Хочется поблагодарить компанию «Саксэс» за хорошую работу и доброе отношение к клиентам. Покупали ондулин на свою дачу. Всё рассчитали, привезли. Молодцы."
    },
    {
    "img": "reviews1",
    "name": "Дмитрий",
    "date": "15.05.2018",
    "text": "Покупал в САКСЭСе материалы для кровли. Всем очень доволен. Большой ассортимент кровельных материалов, быстрый расчёт, предложили несколько вариантов. Все доставили в срок. Буду советовать знакомым!"
    },
    {
    "img": "reviews2",
    "name": "Светлана Александровна",
    "date": "11.06.2018",
    "text": "Добрый день! Хочется поблагодарить компанию «Саксэс» за хорошую работу и доброе отношение к клиентам. Покупали ондулин на свою дачу. Всё рассчитали, привезли. Молодцы."
    }
    ])
</div>
<div class="pagination-wrapper">
    @@include('../chunks/pagination.html')
</div>