<div class="reviews-video">
    @@loop('item-video.html', [
    {
    "src": "PEQ49VPRxPA",
    "title": "Отзыв о Саксэс (Московский филиал)",
    "date": "12.05.2018"
    },
    {
    "src": "Cumb4Qqjtqw",
    "title": "Отзыв о САКСЭС от клиента",
    "date": "12.05.2018"
    },
    {
    "src": "ofiWFDInYoA",
    "title": "Отзыв о Саксэс (очень длинное название на несколько строк)",
    "date": "12.05.2018"
    },
    {
    "src": "RRkYxZcmeb4",
    "title": "Отзыв о Саксэс",
    "date": "12.05.2018"
    },
    {
    "src": "PEQ49VPRxPA",
    "title": "Отзыв о Саксэс (Московский филиал)",
    "date": "12.05.2018"
    },
    {
    "src": "Cumb4Qqjtqw",
    "title": "Отзыв о САКСЭС от клиента",
    "date": "12.05.2018"
    },
    {
    "src": "ofiWFDInYoA",
    "title": "Отзыв о Саксэс (очень длинное название на несколько строк)",
    "date": "12.05.2018"
    },
    {
    "src": "RRkYxZcmeb4",
    "title": "Отзыв о Саксэс",
    "date": "12.05.2018"
    }
    ])
</div>
<div class="pagination-wrapper">
    @@include('../chunks/pagination.html')
</div>