<div class="reviews-video">
    @@loop('item-scan.html', [
    {
    "img": "1",
    "name": "Виктор",
    "date": "12.05.2018"
    },
    {
    "img": "2",
    "name": "Татьяна",
    "date": "15.06.2018"
    },
    {
    "img": "1",
    "name": "Константин Константинович",
    "date": "17.12.2018"
    },
    {
    "img": "1",
    "name": "Виктор",
    "date": "12.05.2018"
    },
    {
    "img": "2",
    "name": "Татьяна",
    "date": "15.06.2018"
    },
    {
    "img": "1",
    "name": "Константин Константинович",
    "date": "17.12.2018"
    },
    {
    "img": "1",
    "name": "Виктор",
    "date": "12.05.2018"
    },
    {
    "img": "2",
    "name": "Татьяна",
    "date": "15.06.2018"
    },
    {
    "img": "1",
    "name": "Константин Константинович",
    "date": "17.12.2018"
    },
    {
    "img": "1",
    "name": "Виктор",
    "date": "12.05.2018"
    },
    {
    "img": "2",
    "name": "Татьяна",
    "date": "15.06.2018"
    },
    {
    "img": "1",
    "name": "Константин Константинович",
    "date": "17.12.2018"
    }
    ])
</div>
<div class="pagination-wrapper">
    @@include('../chunks/pagination.html')
</div>