<div class="catalog-create-head @@class">
    <div class="catalog-create-head__col _1">
        <button class="btn _sm _primary js-create-price__all">Выбрать все</button>
        <button class="btn _sm _primary js-create-price__clear">Очистить выбор</button>
        <span class="catalog-create-head__counter js-create-price__counter">
            Выбрано: 99 категорий
        </span>
    </div>
    <div class="catalog-create-head__col _2">
        <a href="#download" class="btn _sm _primary _solid js-popup">
            <i class="icon-download"></i>&nbsp;&nbsp;Скачать прайс
        </a>
    </div>
</div>