<div class="im-menu">
    <h3 class="im-menu__h _opened js-im-menu__toggler">Интернет-магазин</h3>
    <ul class="im-menu__list _level1 js-im-menu__slide">
        <li>
            <span class="im-menu__list__inner"><a href="#">Как купить</a></span>
        </li>
        <li>
            <span class="im-menu__list__inner @@if(active == 'ship-and-pay') {_active}">
                @@if(active == 'ship-and-pay') {Доставка и оплата}
                @@if(active != 'ship-and-pay') {
                <a href="ship-and-pay.html">Доставка и оплата</a>
                }
            </span>
        </li>
        <li><span class="im-menu__list__inner"><a href="#">Обратная связь</a></span></li>
        <li>
            <span class="im-menu__list__inner @@if(active == 'faq') {_active}">
                @@if(active == 'faq') {Частые вопросы}
                @@if(active != 'faq') {
                <a href="#">Частые вопросы</a>
                }
            </span>
        </li>
        <li><span class="im-menu__list__inner"><a href="#">Реквизиты</a></span></li>
        <!--
        <li>
            <span class="im-menu__list__toggler _opened js-im-menu__toggler">Примеры работы</span>
            <ul class="im-menu__list _level2 js-im-menu__slide">
                <li>
                    <span class="im-menu__list__toggler js-im-menu__toggler">По типу объектов</span>
                    <ul class="im-menu__list _level3 js-im-menu__slide">
                        <li><span class="im-menu__list__inner"><a href="#">Кровельные работы</a></span></li>
                        <li><span class="im-menu__list__inner"><a href="#">Фасадные работы</a></span></li>
                        <li><span class="im-menu__list__inner"><a href="#">Заборы</a></span></li>
                    </ul>
                </li>
                <li>
                    <span class="im-menu__list__toggler _opened js-im-menu__toggler">По типу работ</span>
                    <ul class="im-menu__list _level3 js-im-menu__slide">
                        <li><span class="im-menu__list__inner"><a href="#">Кровельные работы</a></span></li>
                        <li><span class="im-menu__list__inner _active">Фасадные работы</span></li>
                        <li><span class="im-menu__list__inner"><a href="#">Заборы</a></span></li>
                    </ul>
                </li>
            </ul>
        </li>
        -->
    </ul>
</div>