<div class="catalog-menu _opened">
    <h3 class="catalog-menu__h">Каталог товаров</h3>
    <ul class="catalog-menu__list">
        <li class="catalog-menu__list__item _expandable">
            <a href="#" class="catalog-menu__list__link">
                <i class="sprite roof"></i> Скатная кровля
            </a>
            @@include('menu-second.html')
        </li>
        <li class="catalog-menu__list__item">
            <a href="#" class="catalog-menu__list__link">
                <i class="sprite waterproof"></i> Гидроизоляция
            </a>
        </li>
    </ul>
    <span class="catalog-menu__f">Свернуть <i class="icon-slideup"></i></span>
</div>