<ul class="catalog-menu__list__second">
    <li class="catalog-menu__list__second__item">
        <a href="#" class="catalog-menu__list__second__link">
            Рулонные кровельные материалы ТЕХНОНИКОЛЬ
        </a>
    </li>                
    <li class="catalog-menu__list__second__item">
        <a href="#" class="catalog-menu__list__second__link">
            Полимерные мембраны
        </a>
    </li>                
    <li class="catalog-menu__list__second__item">
        <a href="#" class="catalog-menu__list__second__link">
            Мастики и праймеры ТЕХНОНИКОЛЬ
        </a>
    </li>                
    <li class="catalog-menu__list__second__item">
        <a href="#" class="catalog-menu__list__second__link">
            Доборные элементы
        </a>
    </li>                
</ul>