<div class="block">
    <h3 class="block__h _border">Рекомендуем посмотреть</h3>
    <div class="block__content">
        <div class="catalog-list _fullwidth js-slider" data-slides='{"sm":1,"md":4,"lg":6}'>
            @@loop('slider-item.html', [
            { 
            "action": 1, 
            "hit": 1, 
            "img": "1.jpg" ,
            "title": "Ендова Катепал Pintari темная охра 0,7*10 м",
            "price_old": "4 834",
            "price": "3 226"
            },
            { 
            "action": 0, 
            "hit": 0, 
            "img": "2.jpg" ,
            "title": "Кладочный раствор темно-серый 022 ОСНОВИТ БРИКФОРМ MC11 25 кг",
            "price_old": "4 834",
            "price": "1 235"
            },
            { 
            "action": 0, 
            "hit": 1, 
            "img": "3.jpg" ,
            "title": "Праймер битумный готовый AquaMast 18 л (16 кг)",
            "price_old": "4 834",
            "price": "1 232"
            },
            { 
            "action": 1, 
            "hit": 0, 
            "img": "4.jpg" ,
            "title": "Мастика для гибкой черепицы ТЕХНОНИКОЛЬ №23 (Фиксер), ведро 3,6 ",
            "price_old": "4 834",
            "price": "1 476"
            },
            { 
            "action": 0, 
            "hit": 0, 
            "img": "5.jpg" ,
            "title": "Воронка центральная Vinyl-On D=90 кофе",
            "price_old": "4 834",
            "price": "245"
            },
            { 
            "action": 1, 
            "hit": 1, 
            "img": "1.jpg" ,
            "title": "Ендова Катепал Pintari темная охра 0,7*10 м",
            "price_old": "4 834",
            "price": "3 226"
            },
            { 
            "action": 0, 
            "hit": 0, 
            "img": "2.jpg" ,
            "title": "Кладочный раствор темно-серый 022 ОСНОВИТ БРИКФОРМ MC11 25 кг",
            "price_old": "4 834",
            "price": "1 235"
            }
            ])
        </div>
    </div>
</div>