<div class="orders-list-header _single-col">
<!--    <div class="orders-list-header__col _first">
        <span class="orders-list-header__label">Заказы за:</span>
        <div class="select-wrapper">
            <select class="select _sm js-select">
                <option selected>Этот год</option>
                <option>Прошлый год</option>
                <option>Все время</option>
            </select>
        </div>
    </div>-->
    <div class="orders-list-header__col _last">
        @@include('../chunks/pagination.html')
    </div>
</div>