<tr class="orders-list__row">
    <td class="orders-list__td _1">
        <span class="orders-list__td__head _order">Заказ</span>
        <a href="profile-order.html" class="orders-list__link">№1996</a>
    </td>
    <td class="orders-list__td _2 _muted">12.07.2018</td>
    <td class="orders-list__row__spacer"></td>
    <td class="orders-list__td _3">
        <span class="orders-list__td__head">Статус</span>
        В обработке
    </td>
    <td class="orders-list__td _4">
        <span class="orders-list__td__head">Способ оплаты</span>
        Наличными
    </td>
    <td class="orders-list__row__spacer"></td>
    <td class="orders-list__td _5 _center">
        <span class="orders-list__td__head">Статус оплаты</span>
        Оплачено
    </td>
    <td class="orders-list__td _6">
        <span class="orders-list__td__head">Способ получения</span>
        Доставка на объект
    </td>
    <td class="orders-list__td _7 _cost">274 928.00 <span class="rub">₽</span></td>
</tr>
<tr class="orders-list__row">
    <td class="orders-list__td _1">
        <span class="orders-list__td__head _order">Заказ</span>
        <a href="profile-order.html" class="orders-list__link">№1996</a>
    </td>
    <td class="orders-list__td _2 _muted">12.07.2018</td>
    <td class="orders-list__row__spacer"></td>
    <td class="orders-list__td _3">
        <span class="orders-list__td__head">Статус</span>
        Ждет оплаты
    </td>
    <td class="orders-list__td _4">
        <span class="orders-list__td__head">Способ оплаты</span>
        Банковской картой
    </td>
    <td class="orders-list__row__spacer"></td>
    <td class="orders-list__td _5 _center">
        <span class="orders-list__td__head">Статус оплаты</span>
        <a href="#" class="btn _green-dark _solid _sm orders-list__btn">Оплатить</a>
    </td>
    <td class="orders-list__td _6">
        <span class="orders-list__td__head">Способ получения</span>
        Самовывоз
    </td>
    <td class="orders-list__td _7 _cost">274 928.00 <span class="rub">₽</span></td>
</tr>
<tr class="orders-list__row">
    <td class="orders-list__td _1">
        <span class="orders-list__td__head _order">Заказ</span>
        <a href="profile-order.html" class="orders-list__link">№1996</a>
    </td>
    <td class="orders-list__td _2 _muted">12.07.2018</td>
    <td class="orders-list__row__spacer"></td>
    <td class="orders-list__td _3">
        <span class="orders-list__td__head">Статус</span>
        В обработке
    </td>
    <td class="orders-list__td _4">
        <span class="orders-list__td__head">Способ оплаты</span>
        Наличными
    </td>
    <td class="orders-list__row__spacer"></td>
    <td class="orders-list__td _5 _center">
        <span class="orders-list__td__head">Статус оплаты</span>
        Оплачено
    </td>
    <td class="orders-list__td _6">
        <span class="orders-list__td__head">Способ получения</span>
        Доставка на объект
    </td>
    <td class="orders-list__td _7 _cost">274 928.00 <span class="rub">₽</span></td>
</tr>
<tr class="orders-list__row">
    <td class="orders-list__td _1">
        <span class="orders-list__td__head _order">Заказ</span>
        <a href="profile-order.html" class="orders-list__link">№1996</a>
    </td>
    <td class="orders-list__td _2 _muted">12.07.2018</td>
    <td class="orders-list__row__spacer"></td>
    <td class="orders-list__td _3">
        <span class="orders-list__td__head">Статус</span>
        В обработке
    </td>
    <td class="orders-list__td _4">
        <span class="orders-list__td__head">Способ оплаты</span>
        Наличными
    </td>
    <td class="orders-list__row__spacer"></td>
    <td class="orders-list__td _5 _center">
        <span class="orders-list__td__head">Статус оплаты</span>
        Оплачено
    </td>
    <td class="orders-list__td _6">
        <span class="orders-list__td__head">Способ получения</span>
        Доставка на объект
    </td>
    <td class="orders-list__td _7 _cost">274 928.00 <span class="rub">₽</span></td>
</tr>