<!-- dev helper -->
<!-- DELETE ON PRODUCTION! -->
<div class="dev">
    <span id="dev_toggler" class="dev__toggler">&lt;/&gt;</span>
    <ul>
        <li><a href="index.html">main</a></li>
    </ul>
</div>
<script>
    (function () {
        var t = document.getElementById('dev_toggler');
        var p = t.parentElement;
        t.addEventListener('click', function(e) {
            e.stopPropagation();
            this.parentElement.classList.toggle('_active');
        });
        p.addEventListener('click', function(e) {
            e.stopPropagation();
        });
        window.addEventListener('click', function () {
            p.classList.remove('_active');
        });
    }());
</script>
<!-- /dev helper -->