<!-- dev helper -->
<!-- DELETE ON PRODUCTION! -->
<style>
    .dev {
        position: fixed;
        z-index: 100500;
        right: 0;
        bottom: 0;
        background: white;
        border-style: solid;
        border-color: #131313;
        border-width: 1px 0 0 1px;
        padding: .5rem;
        transition: transform .2s;
        width: 100px;
        transform: translateX(100%);
    }
    .dev ul {
        padding-left: 1rem;
        line-height: 1.7;
        margin-bottom: 0;
        font-size: 75%;
    }
    .dev__toggler {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        background: #131313;
        color: white;
        padding: .2rem;
        cursor: pointer;
        opacity: .3;
        transition: opacity .2s;
        &:hover {
            opacity: 1;
        }
    }
    .dev._active {
        transform: none;
        .dev__toggler {
            opacity: 1;
        }
    }
    .dev._active .dev__toggler {
            opacity: 1;
    }
</style>
<div class="dev">
    <span id="dev_toggler" class="dev__toggler">&lt;/&gt;</span>
    <ul>
        <li><a href="index.html">main</a></li>
        <li><a href="content.html">content</a></li>
        <li><a href="product-card.html">product card</a></li>
        <li><a href="catalog-level-1.html">catalog level 1</a></li>
    </ul>
</div>
<script>
    (function () {
        var t = document.getElementById('dev_toggler');
        var p = t.parentElement;
        t.addEventListener('click', function (e) {
            e.stopPropagation();
            this.parentElement.classList.toggle('_active');
        });
        p.addEventListener('click', function (e) {
            e.stopPropagation();
        });
        window.addEventListener('click', function () {
            p.classList.remove('_active');
        });
    }());
</script>
<!-- /dev helper -->