@@include('./dev.html')
<script>
    var appConfig = {
        breakpoint: {
            sm: 320,
            md: 768,
            lg: 1280
        },
        sliderFadeSpeed: 800, //ms
        sliderAutoplaySpeed: 8000, //ms
        hoverZoom: 10, //px
    };
</script>

<script src="js/libs/jquery.min.js"></script>
<script src="js/libs/slick.min.js"></script>
<script src="js/libs/jquery.scrollbar.min.js"></script>
<script src="js/libs/jquery.fancybox.min.js"></script>
<script src="js/libs/jquery.easytabs.min.js"></script>
<script src="js/common.js"></script>