@@include('./dev.html')
<script>
    var appConfig = {
        breakpoint: {
            sm: 320,
            md: 768,
            lg: 1280
        },
        sliderFadeSpeed: 800, //ms
        sliderAutoplaySpeed: 8000, //ms
        hoverZoom: 10, //px
        shipping: {
            disabledDays: [0, 6], // дни, в которые невозможна доставка (0 - воскресенье)
            from: {
                geo: [56.311696, 43.832899], // array координаты или string адрес для геокодирования
                text: 'Центральный склад', // текст подсказки
            },
            to: {
                geo: 'Н. Новгород, улица Минеева'
            }
        }
    };</script>

<script src="js/libs/jquery.min.js"></script>
<script src="js/libs/slick.min.js"></script>
<script src="js/libs/jquery.scrollbar.min.js"></script>
<script src="js/libs/jquery.fancybox.min.js"></script>
<script src="js/libs/jquery.easytabs.min.js"></script>
<script src="js/libs/jquery.formstyler.min.js"></script>
<script src="js/libs/jquery.inputmask.bundle.min.js"></script>
<script src="js/libs/nouislider.min.js"></script>
<script src="js/libs/sticky-kit.min.js"></script>
<script src="js/libs/datepicker.min.js"></script>
<script src="js/common.js"></script>
<script src="js/shipping.js"></script>