<div class="hidden">
    @@include('./popups/login.html')
    @@include('./popups/register.html')
    @@include('./popups/call.html')
    @@include('./popups/shipping-calc.html')
</div>
<footer class="footer">
    <div class="container">
        <div class="footer__menu">
            @@include('./chunks/menu.html')
        </div>
        @@include('./chunks/social.html')
        <ul class="footer__menu-second">
            <li><a href="#">Политика в отношении обработки персональных данных</a></li>
            <li><a href="#">Публичная оферта</a></li>
            <li><a href="#">Пластиковые окна, кровельные материалы</a></li>
        </ul>
        <div class="footer__logo">
            <img class="footer__logo__img" src="img/logo-footer.svg" alt="alt text">
            © 2018 Группа компаний «САКСЭС»
        </div>
        <!--
        <a href="//riverstart.ru" target="_blank" rel="noopener nofollow" class="footer__dev">
            Сделано в
            <img class="footer__dev__img" src="img/riverstart-logo.svg" alt="riverstart.ru">
        </a>
        -->
    </div>
</footer>