<head>
    <title>@@name</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,600&amp;subset=cyrillic" rel="stylesheet">
    <link href="fonts/Lato/lato.css" rel="stylesheet" type="text/css">
    <link href="fonts/fontello/css/fontello.css" rel="stylesheet" type="text/css">
    <link href="css/libs/slick.css" rel="stylesheet" type="text/css">
    <link href="css/libs/jquery.scrollbar.css" rel="stylesheet" type="text/css">
    <link href="css/libs/jquery.fancybox.min.css" rel="stylesheet" type="text/css">
    <link href="css/common.css" rel="stylesheet" type="text/css">
</head>