<div class="contacts-list__item js-contacts__map-item"
     data-geo="@@geo"
     data-text="@@text"
     data-type="@@icon">
    <div class="contacts-list__item__head">
        <p class="contacts-list__item__h">@@text</p>
        <p class="contacts-list__item__lead">@@type</p>
    </div>
    <div class="contacts-list__item__foot">
        <dl class="contacts-list__item__address">
            <dt>Телефон:</dt>
            <dd>
                <a href="tel:+78312621903"
                   class="contacts-list__item__address__link">+7 (831) 262-19-03</a>
            </dd>
            <dt>E-mail:</dt>
            <dd>nn@s-stroy.ru</dd>
            <dt>Время работы:</dt>
            <dd>пн-пт: с 9:00 до 18:00</dd>
        </dl>
        <ul class="contacts-list__item__links">
            <li class="contacts-list__item__links__item">
                <a href="#" class="js-contacts__popup-open"><i class="icon-photo"></i>Фото</a>
                <div class="contacts-list__popup js-contacts__popup">
                    <div class="contacts-list__popup__inner">
                        <img src="img/contacts/warehouse1.jpg" alt="alt text">
                    </div>
                    <i class="icon-close-circled contacts-list__popup__close js-contacts__popup-close"></i>
                </div>
            </li>
            <li class="contacts-list__item__links__item">
                <a href="#" class="js-contacts__popup-open"><i class="icon-route"></i>Схема проезда</a>
                <div class="contacts-list__popup js-contacts__popup">
                    <div class="contacts-list__popup__inner">
                        <img src="img/contacts/warehouse2_schema.jpg" alt="alt text">
                    </div>
                    <i class="icon-close-circled contacts-list__popup__close js-contacts__popup-close"></i>
                </div>
            </li>
        </ul>
    </div>
    <i class="sprite @@icon contacts-list__item__icon"></i>
</div>