<p class="sp__intro">Мы предлагаем следующие варианты оплаты заказа:</p>

<h3 class="sp__h">Оплата наличными </h3>
<div class="sp-shipping">
    <div class="sp-shipping__row">
        <div class="sp-shipping__col">
            <p>Вы оплачиваете свой заказ наличными:<br>
                - в пункте самовывоза,<br>
                - ближайшем офисе продаж (найти ближайший офис продаж Вы можете <a href="#">здесь</a>)<br>
                - водителю при доставке на объект.</p>
        </div>
        <div class="sp-shipping__col">
            <div class="doc-download _sm _left">
                <i class="sprite map"></i>
                <span class="doc-download__text">
                    <a href="#" class="doc-download__title">Офисы продаж на карте</a>
                </span>
            </div>
        </div>
    </div>
    <div class="warning-block">
        <i class="sprite warning"></i>
        <span class="warning-block__text">
            Исключение составляют заказные позиции (металлочерепица, профлист и ряд других). Заказы на такие товары принимаются только по предоплате. Уточнить перечень таких товаров можно у наших менеджеров.
        </span>
    </div>
</div>

<h3 class="sp__h">Оплата банковской картой</h3>
<div class="sp-shipping">
    <div class="sp-shipping__row">
        <div class="sp-shipping__col">
            <p>- в ближайшем офисе САКСЭС;<br>
                - в пункте самовывоза;<br>
                - на сайте в интернет-магазине.</p>
        </div>
        <div class="sp-shipping__col">
            <img src="img/payments.svg" 
                 class="sp-shipping__payment-img"
                 alt="alt text">
        </div>
    </div>
</div>

<h3 class="sp__h">Безналичный расчет через отделение банка</h3>
<div class="sp-shipping">
    <div class="sp-shipping__row">
        <div class="sp-shipping__col">
            <p>Безналичный расчет через отделение банка. Для юридических и физических лиц.<br>
                Для того, чтобы узнать подробнее об этом методе оплаты, 
                свяжитесь с нашими <a href="#">менеджерами</a>.</p>
        </div>
    </div>
</div>