<div class="stock-list__item">
    <div class="stock-list__item__inner">
        <div class="stock-list__item__slide">
            <span class="stock-list__item__slide__img-wrapper">
                <img class="stock-list__item__slide__img"
                     src="img/stock/@@image.jpg"
                     srcset="img/stock/@@image@2x.jpg 2x,
                     img/stock/@@image@3x.jpg 3x"
                     alt="alt text">
            </span>
            <span class="stock-list__item__slide__h">
                @@title                
            </span>
            <span class="stock-list__item__slide__accent">
                @@price
                <span class="stock-list__item__slide__accent__small">
                    @@count
                </span>
            </span>
        </div>
        <div class="stock-list__item__content">
            <span class="stock-list__item__content__head">
                <span class="stock-list__item__content__h">
                    @@text
                </span>
                <span class="stock-list__item__content__date">
                    14-25 августа 2018 г.
                </span>
            </span>
            <span class="stock-list__item__content__foot">
                <a href="#" class="btn _primary _solid _sm stock-list__item__content__btn">Подробнее</a>
            </span>
        </div>
    </div>
</div>