<div class="stock-list">
    @@loop('item.html', [
    {
    "image": 1,
    "title": "Цокольный сайдинг Vilo Stone",
    "price": "за 369 ₽",
    "count": "за шт",
    "text": "Цокольный сайдинг Vilo Stone за 369 <span class=rub>₽</span> за шт"
    },
    {
    "image": 2,
    "title": "Защитная краска для торцов «Krasula»",
    "price": "329 ₽",
    "count": "за шт",
    "text": "Защитная краска для торцов «Krasula»"
    },
    {
    "image": 3,
    "title": "Гибкая черепица Tilercat",
    "price": "205 ₽",
    "count": "за кв.м",
    "text": "Гибкая черепица Tilercat, 205 <span class=rub>₽</span> за кв.м."
    },
    {
    "image": 2,
    "title": "Защитная краска для торцов «Krasula»",
    "price": "329 ₽",
    "count": "за шт",
    "text": "Защитная краска для торцов «Krasula»"
    },
    {
    "image": 3,
    "title": "Гибкая черепица Tilercat",
    "price": "205 ₽",
    "count": "за кв.м",
    "text": "Гибкая черепица Tilercat, 205 <span class=rub>₽</span> за кв.м."
    },
    {
    "image": 1,
    "title": "Цокольный сайдинг Vilo Stone",
    "price": "за 369 ₽",
    "count": "за шт",
    "text": "Цокольный сайдинг Vilo Stone за 369 <span class=rub>₽</span> за шт"
    },
    {
    "image": 1,
    "title": "Цокольный сайдинг Vilo Stone",
    "price": "за 369 ₽",
    "count": "за шт",
    "text": "Цокольный сайдинг Vilo Stone за 369 <span class=rub>₽</span> за шт"
    },
    {
    "image": 2,
    "title": "Защитная краска для торцов «Krasula»",
    "price": "329 ₽",
    "count": "за шт",
    "text": "Защитная краска для торцов «Krasula»"
    },
    {
    "image": 3,
    "title": "Гибкая черепица Tilercat",
    "price": "205 ₽",
    "count": "за кв.м",
    "text": "Гибкая черепица Tilercat, 205 <span class=rub>₽</span> за кв.м."
    },
    {
    "image": 2,
    "title": "Защитная краска для торцов «Krasula»",
    "price": "329 ₽",
    "count": "за шт",
    "text": "Защитная краска для торцов «Krasula»"
    },
    {
    "image": 3,
    "title": "Гибкая черепица Tilercat",
    "price": "205 ₽",
    "count": "за кв.м",
    "text": "Гибкая черепица Tilercat, 205 <span class=rub>₽</span> за кв.м."
    },
    {
    "image": 1,
    "title": "Цокольный сайдинг Vilo Stone",
    "price": "за 369 ₽",
    "count": "за шт",
    "text": "Цокольный сайдинг Vilo Stone за 369 <span class=rub>₽</span> за шт"
    },
    {
    "image": 1,
    "title": "Цокольный сайдинг Vilo Stone",
    "price": "за 369 ₽",
    "count": "за шт",
    "text": "Цокольный сайдинг Vilo Stone за 369 <span class=rub>₽</span> за шт"
    },
    {
    "image": 2,
    "title": "Защитная краска для торцов «Krasula»",
    "price": "329 ₽",
    "count": "за шт",
    "text": "Защитная краска для торцов «Krasula»"
    },
    {
    "image": 3,
    "title": "Гибкая черепица Tilercat",
    "price": "205 ₽",
    "count": "за кв.м",
    "text": "Гибкая черепица Tilercat, 205 <span class=rub>₽</span> за кв.м."
    },
    {
    "image": 2,
    "title": "Защитная краска для торцов «Krasula»",
    "price": "329 ₽",
    "count": "за шт",
    "text": "Защитная краска для торцов «Krasula»"
    },
    {
    "image": 3,
    "title": "Гибкая черепица Tilercat",
    "price": "205 ₽",
    "count": "за кв.м",
    "text": "Гибкая черепица Tilercat, 205 <span class=rub>₽</span> за кв.м."
    },
    {
    "image": 1,
    "title": "Цокольный сайдинг Vilo Stone",
    "price": "за 369 ₽",
    "count": "за шт",
    "text": "Цокольный сайдинг Vilo Stone за 369 <span class=rub>₽</span> за шт"
    }
    ])
</div>