<div class="product-buy">
    <span class="product-buy__profit">
        Выгода
        <span class="product-buy__profit__accent">1 532 <span class="rub">₽</span></span>
    </span>
    <div class="product-buy__head">
        <span class="product-buy__price">
            3 266 ₽
            <span class="product-buy__price__desc">цена в интернет-магазине</span>
        </span>
        <span class="product-buy__price-del">
            <del>4 834 ₽</del>
            <span class="product-buy__price-del__desc">цена в рознице</span>
        </span>
        <ul class="product-buy__price-variant">
            <li class="_active">за штуку</li>
            <li>за килограмм</li>
        </ul>
    </div>
    <div class="product-buy__foot">
        <div class="product-buy__foot__row _1">
            <span class="product-buy__in-stock"><i class="icon-in-stock"></i> В наличии</span>
            <span class="product-buy__find">Нашли дешевле?</span>
        </div>
        <div class="product-buy__foot__row _2">
            <div class="product-buy__count">
                <button class="product-buy__count__btn _minus">&minus;</button>
                <span class="product-buy__count__text">
                    <span class="product-buy__count__text__accent">
                        3
                    </span>
                    штуки
                </span>
                <button class="product-buy__count__btn _plus">&plus;</button>
            </div>
        </div>
        <div class="product-buy__foot__row _3">
            <button class="btn _primary _solid">В корзину</button>
            <button class="btn _primary">Купить в 1 клик</button>
        </div>
    </div>
</div>