<div class="nav-slider" data-responsive="product">
    <div class="nav-slider__main js-nav-slider__main">
        @@include('./slider-item.html')
        @@include('./slider-item.html')
        @@include('./slider-item.html')
        @@include('./slider-item.html')
        @@include('./slider-item.html')
        @@include('./slider-item.html')
    </div>
    <div class="nav-slider__nav js-nav-slider__nav" data-responsive="product">
        @@include('./slider-nav-item.html')
        @@include('./slider-nav-item.html')
        @@include('./slider-nav-item.html')
        @@include('./slider-nav-item.html')
        @@include('./slider-nav-item.html')
        @@include('./slider-nav-item.html')
    </div>
</div>