<div class="tabs js-tabs">
    <ul class="tabs__list js-tabs__list">
        <li><a href="#tab1">Описание</a></li>
        <li><a href="#tab2">Характеристики</a></li>
        <li><a href="#tab3">Инструкции</a></li>
        <li><a href="#tab4">Вопросы&nbsp;<span class="tabs__counter">3</span></a></li>
        <li><a href="#tab5">Дополнительные услуги</a></li>
        <li><a href="#tab6">Видео</a></li>
    </ul>
    <span class="tabs__under js-tabs__under"></span>
    <div id="tab1" class="tabs__tab js-tabs__tab">
        <span class="tabs__tab__toggler">Описание</span>
        <div class="tabs__tab__content">
            <div class="rte">
                <p>Основой данного состава, рассчитанного на сухие помещения, является гипс. Для снижения расхода сухого вещества в смесь вводится легкий наполнитель. Особые модифицирующие присадки, также составляющие композицию этого раствора, позволяют существенно сократить время качественного завершения отделочных работ. Этой штукатуркой выравнивают стены, возведенные из различных минеральных стройматериалов, например, из кирпича или гипса. Основанием для ее нанесения может служить и цементная штукатурка.</p>
                <h3>Плюсы:</h3>
                <ul>
                    <li>пригодность к работе на протяжении 90 мин.;</li>
                    <li>устойчивость к растрескиванию;</li>
                    <li>пластичность;</li>
                    <li>возможность нанесения слоями от 5 до 50 мм.</li>
                </ul>
                <p>Раствор прекрасно держится на бетонных, железобетонных, пенобетонных и газобетонных основаниях.</p>
                <p>Покупайте гипсовую штукатурку ЕК TG40 30 кг в Нижнем Новгороде в нашем интернет-магазине: поможем выбрать, рассчитать и доставить!</p>
            </div>
        </div>
    </div>
    <div id="tab2" class="tabs__tab js-tabs__tab">
        <span class="tabs__tab__toggler">Характеристики</span>
        <div class="tabs__tab__content">
            <ul class="product-detail">
                <li><span>Бренд</span><span>EK</span></li>
                <li><span>Основа</span><span>Гипсовая</span></li>
                <li><span>Цвет</span><span>Бежевый</span></li>
                <li><span>Область применения</span><span>для внутренних работ</span></li>
                <li><span>Страна-производитель</span><span>Россия</span></li>
                <li><span>Толщина слоя, мм</span><span>5 - 50</span></li> 
                <li><span>Кол-во в упаковке, шт</span><span>40</span></li> 
                <li><span>Расход при слое 10 мм, кг/м²</span><span>10 - 11</span></li> 
                <li><span>ТУ</span><span>5745-021-47532402-2005</span></li>
            </ul>
        </div>
    </div>
    <div id="tab3" class="tabs__tab js-tabs__tab">
        <span class="tabs__tab__toggler">Инструкции</span>
        <div class="tabs__tab__content _nopadding">
            <ul class="product-docs">
                <li class="product-docs__item">
                    <i class="docs-icon">jpg</i>
                    <span class="product-docs__item__text">
                        <a href="#" class="product-docs__title">Отказное письмо ГОСТ Р продукция ЕК</a>
                        <span class="product-docs__desc">JPG, 150 KB</span>
                    </span>
                </li>
                <li class="product-docs__item">
                    <i class="docs-icon">pdf</i>
                    <span class="product-docs__item__text">
                        <a href="#" class="product-docs__title">Отказное письмо сухие смеси ЕК</a>
                        <span class="product-docs__desc">PDF, 290 KB</span>
                    </span>
                </li>
                <li class="product-docs__item">
                    <i class="docs-icon">jpg</i>
                    <span class="product-docs__item__text">
                        <a href="#" class="product-docs__title">Отказное письмо о пожарной безопасности сухие смеси ЕК</a>
                        <span class="product-docs__desc">JPG, 239 KB</span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div id="tab4" class="tabs__tab js-tabs__tab">
        <span class="tabs__tab__toggler">Вопросы&nbsp;<span class="tabs__counter">3</span></span>
        <div class="tabs__tab__content _nopadding">
            <div class="qa _product">
                @@include('../chunks/qa-item-product.html', {
                "name": "Дмитрий",
                "date": "12.05.2018",
                "time": "13:22",
                "q": "Здравствуйте. А сможете поднять 10 мешков на 7 этаж? Сколько это стоит?",
                "a": ""
                })
                @@include('../chunks/qa-item-product.html', {
                "name": "Алексей",
                "date": "03.05.2018",
                "time": "11:04",
                "q": "Очень хорошая штукатурка, доставили в срок. Спасибо.",
                "a": "Спасибо за ваш комментарий, Алексей! Будем снова рады видеть вас!"
                })
                @@include('../chunks/qa-item-product.html', {
                "name": "Елена",
                "date": "12.05.2018",
                "time": "13:22",
                "q": "Какая штукатурка лучше? Эта или Knauf Rotband?",
                "a": ""
                })
                <div class="qa__item">
                    <a href="#question" class="btn _primary _solid qa__btn">Оставить вопрос</a>
                </div>
            </div>
        </div>
    </div>
    <div id="tab5" class="tabs__tab js-tabs__tab">
        <span class="tabs__tab__toggler">Дополнительные услуги</span>
        <div class="tabs__tab__content">
            <h3>Вкладка 5 — H3</h3>
        </div>
    </div>
    <div id="tab6" class="tabs__tab js-tabs__tab">
        <span class="tabs__tab__toggler">Видео</span>
        <div class="tabs__tab__content">
            <h3>Вкладка 6 — H3</h3>
        </div>
    </div>
</div>