<div id="download" class="popup">
    <div class="popup__wrapper _call">
        <div class="popup__form popup__inner">
            <form class="form">
                <h3 class="form__h">Скачать прайс-лист</h3>
                <div class="form__group">
                    <label class="checkbox">
                        <input type="checkbox" checked>
                        <span class="checkbox__text">
                            Отправить копию на почту
                        </span>
                    </label>
                </div>
                <div class="form__group">
                    <div class="form__group">
                        <span class="form__label js-form__label">
                            <input required>
                            <label>Email</label>                        
                        </span>
                    </div>
                </div>
                <div class="form__group _checkbox">
                    <label class="checkbox">
                        <input type="checkbox" checked>
                        <span class="checkbox__text">
                            Подтверждаю свое согласие на <a href="#">обработку персональных данных</a>
                        </span>
                    </label>
                </div>
                <div class="form__group">
                    <button type="submit" class="btn _primary _solid _loading">
                        <i class="icon-download"></i>&nbsp;&nbsp;Скачать прайс [PDF]
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>