<div id="login" class="popup">
    <div class="login">
        <div class="login__help popup__inner">
            <h3 class="login__help__h">Зачем мне регистрироваться на сайте?</h3>
            <ul class="login__help__list">
                <li>Выгодные предложения только для зарегистрированных пользователей.</li>
                <li>Персональная рассылка с выгодными предложениями на электронную почту.</li>
                <li>Быстрое оформление заказов. Не нужно постоянно вводить личные данные.</li>
                <li>Подробная информация об истории всех ваших заказов.</li>
            </ul>
        </div>
        <div class="login__form popup__inner">
            <form class="form">
                <h3 class="form__h">Войти на сайт</h3>
                <div class="form__input-group">
                    <span class="form__label">
                        <input required>
                        <label>Логин</label>                        
                    </span>
                    <span class="form__label">
                        <input type="password" value="123456" required>
                        <label>Пароль</label>                        
                    </span>
                </div>
                <div class="form__input-group _checkbox">
                    <label class="checkbox">
                        <input type="checkbox" checked>
                        <span class="checkbox__text">Запомнить меня</span>
                    </label>
                </div>
                <div class="form__input-group _checkbox">
                    <label class="checkbox">
                        <input type="checkbox" checked>
                        <span class="checkbox__text">
                            Подтверждаю свое согласие на <a href="#">обработку персональных данных</a>
                        </span>
                    </label>
                </div>
                <div class="form__input-group">
                    <button type="submit" class="btn _secondary _solid">Войти</button>
                </div>
            </form>
            <p><a href="#">Забыли свой пароль?</a></p>
            <p><a href="#">Регистрация</a></p>
        </div>
    </div>
</div>