<div id="login" class="popup">
    <div class="popup__wrapper _login">
        <div class="popup__help popup__inner">
            <h3 class="popup__help__h">Зачем мне регистрироваться на сайте?</h3>
            <ul class="popup__help__list">
                <li>Выгодные предложения только для зарегистрированных пользователей.</li>
                <li>Персональная рассылка с выгодными предложениями на электронную почту.</li>
                <li>Быстрое оформление заказов. Не нужно постоянно вводить личные данные.</li>
                <li>Подробная информация об истории всех ваших заказов.</li>
            </ul>
        </div>
        <div class="popup__form popup__inner">
            <form class="form">
                <h3 class="form__h">Войти на сайт</h3>
                <div class="form__group">
                    <span class="form__label js-form__label">
                        <input required>
                        <label>Логин</label>                        
                    </span>
                    <span class="form__label js-form__label">
                        <input type="password" value="123456" required>
                        <label>Пароль</label>                        
                    </span>
                </div>
                <div class="form__group _checkbox">
                    <label class="checkbox">
                        <input type="checkbox" checked>
                        <span class="checkbox__text">Запомнить меня</span>
                    </label>
                </div>
                <div class="form__group _checkbox">
                    <label class="checkbox">
                        <input type="checkbox" checked>
                        <span class="checkbox__text">
                            Подтверждаю свое согласие на <a href="#">обработку персональных данных</a>
                        </span>
                    </label>
                </div>
                <div class="form__group">
                    <button type="submit" class="btn _secondary _solid">Войти</button>
                    <p><a href="#restore" class="js-popup">Забыли свой пароль?</a></p>
                    <p><a href="#register" class="js-popup">Регистрация</a></p>
                </div>
            </form>
        </div>
    </div>
</div>