<div id="one-click@@if(success){-success}" class="popup">
    <div class="popup__wrapper _one-click">
        <div class="popup__product popup__inner">
            <div class="popup__product__head">
                <span class="popup__product__img">
                    <img src="img/products/one-click.png" 
                         alt="alt text">            
                </span>
                <span class="popup__product__title">
                    Ендова Катепал Pintari темная охра 0,7*10 м
                </span>
                <span class="popup__product__avail">В наличии</span>
            </div>
            <div class="popup__product__foot">
                <span class="popup__product__price">
                    3 266 ₽
                </span>
                <span class="popup__product__price-help">
                    цена в интернет-магазине
                </span>
                <del class="popup__product__del">
                    4 834 ₽
                </del>
                <span class="popup__product__del-help">
                    цена в рознице
                </span>
                <ul class="product-variant">
                    <li class="_active">за штуку</li>
                    <li>за килограмм</li>
                </ul>
            </div>
            <ul class="product-badges">
                <li class="product-badges__item">
                    <span class="product-badges__wrapper _action">
                        <span class="product-badges__text">Акция</span>
                    </span>
                </li>
                <li class="product-badges__item">
                    <span class="product-badges__wrapper _hit">
                        <span class="product-badges__text">Хит</span>
                    </span>
                </li>
            </ul>
        </div>
        <div class="popup__form popup__inner">
            @@if (success) {
            <div class="popup__success">
                <h3 class="popup__help__h">Ваш заказ принят, <br>его номер&nbsp;– 
                    <span class="primary">2370</span></h3>
                <p>Менеджер свяжется с вами в ближайшее время.</p>
                <p>Спасибо что выбрали нас!</p>
            </div>
            }
            @@if (!success) {
            <form class="form">
                <div class="popup__form__head">
                    <h3 class="form__h">Купить в один клик</h3>
                    <div class="form__group">
                        <span class="form__label js-form__label">
                            <input required>
                            <label>Ваше имя</label>                        
                        </span>
                        <span class="form__label js-form__label">
                            <input class="js-mask__tel" required>
                            <label>Телефон</label>                        
                        </span>
                    </div>
                    <p class="form__help">* Поля, обязательные для заполнения</p>
                </div>
                <div class="popup__form__foot">
                    <div class="form__group">
                        <label class="checkbox">
                            <input type="checkbox" checked>
                            <span class="checkbox__text">
                                Подтверждаю свое согласие на <a href="#">обработку персональных данных</a>
                            </span>
                        </label>
                    </div>
                    <div class="form__group">
                        <img src="img/newCaptchaAnchor.png" style="max-width: 100%">
                    </div>
                    <div class="form__group">
                        <button type="submit" class="btn _secondary _solid">Жду звонка</button>
                    </div>
                </div>
            </form>
            }
        </div>
    </div>
</div>