<div id="pickup" class="popup">
    <div class="popup__wrapper _shipping">
        <div class="popup__form popup__inner">
            <div class="form pickup js-pickup">
                <h3 class="form__h _left">Выберите пункт самовывоза</h3>
                <div class="pickup__row">
                    <div class="pickup__row__col">
                        <div class="pickup__map"></div>
                    </div>
                    <div class="pickup__row__col">
                        <div class="pickup__list">
                            <div class="pickup__list__item">
                                <div class="pickup__list__item__content">
                                    <h3 class="pickup__list__item__content__h">
                                        <a href="#">г. Н. Новгород, Московское шоссе, д. 298А</a>
                                    </h3>
                                    <p class="pickup__list__item__content__text">
                                        Бесплатно, <strong>сегодня</strong>
                                    </p>
                                    <p class="pickup__list__item__content__time">
                                        Режим работы: пн-пт: с 8:00 до 17:00
                                    </p>
                                    <ul class="pickup__list__item__content__links">
                                        <li class="pickup__list__item__content__links__item">
                                            <a href="#" class="js-pickup__popup-open"><i class="icon-photo"></i>Фото</a>
                                            <div class="pickup__popup js-pickup__popup">
                                                <div class="pickup__popup__inner">
                                                    <img src="img/contacts/warehouse1.jpg" alt="alt text">
                                                    <i class="icon-close-circled pickup__popup__close js-pickup__popup-close"></i>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pickup__list__item">
                                <div class="pickup__list__item__content">
                                    <h3 class="pickup__list__item__content__h">
                                        <a href="#">пос. Дружный, Нижегородская область</a>
                                    </h3>
                                    <p class="pickup__list__item__content__text">
                                        Бесплатно, <strong>сегодня</strong>
                                    </p>
                                    <p class="pickup__list__item__content__time">
                                        Режим работы: пн-пт: с 9:00 до 18:00
                                    </p>
                                    <ul class="pickup__list__item__content__links">
                                        <li class="pickup__list__item__content__links__item">
                                            <a href="#" class="js-pickup__popup-open"><i class="icon-route"></i>Схема проезда</a>
                                            <div class="pickup__popup js-pickup__popup">
                                                <div class="pickup__popup__inner">
                                                    <img src="img/contacts/warehouse2_schema.jpg" alt="alt text">
                                                    <i class="icon-close-circled pickup__popup__close js-pickup__popup-close"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="pickup__list__item__content__links__item">
                                            <a href="#" class="js-pickup__popup-open"><i class="icon-photo"></i>Фото</a>
                                            <div class="pickup__popup js-pickup__popup">
                                                <div class="pickup__popup__inner">
                                                    <img src="img/contacts/warehouse2.jpg" alt="alt text">
                                                    <i class="icon-close-circled pickup__popup__close js-pickup__popup-close"></i>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>