<div id="question" class="popup">
    <div class="popup__wrapper _question">
        <div class="popup__form popup__inner">
            <form class="form question-form">
                <h3 class="form__h">Оставить вопрос</h3>
                <div class="question-form__row">
                    <div class="question-form__row__col">
                        <span class="form__label js-form__label">
                            <input required>
                            <label>Имя</label>                        
                        </span>
                        <span class="form__label js-form__label">
                            <input required>
                            <label>E-mail или телефон</label>                        
                        </span>
                    </div>
                    <div class="question-form__row__col">
                        <span class="form__label js-form__label">
                            <textarea required></textarea>
                            <label>Ваш комментарий</label>                        
                        </span>
                    </div>
                </div>
                <div class="question-form__row">
                    <div class="question-form__row__col">
                        <div class="form__group">
                            <span class="form__input-help">* Поля, обязательные для заполнения</span>
                        </div>
                        <div class="form__group _checkbox">
                            <label class="checkbox">
                                <input type="checkbox" checked>
                                <span class="checkbox__text">
                                    Подтверждаю свое согласие на <a href="#">обработку персональных данных</a>
                                </span>
                            </label>
                        </div>
                        <div class="form__group">
                            <img src="img/newCaptchaAnchor.png" style="max-width: 100%">
                        </div>
                        <div class="form__group">
                            <button type="submit" class="btn _primary _solid">Оставить комментарий</button>
                        </div>
                    </div>
                    <div class="question-form__row__col">
                        <span class="form__input-help">
                            Пользователи, оставляющие комментарии, несут полную правовую ответственность за их содержание.<br>
                            <br>
                            Информация об IP-адресах сохраняется.<br>
                            <br>
                            В комментариях запрещено:<br>
                            — Использовать нецензурные выражения, оскорбления и угрозы;<br>
                            — Публиковать адреса, телефоны и ссылки, содержащие прямую рекламу;<br>
                            — Обсуждать цену товара в разных регионах и её изменение;<br>
                            — Писать отвлеченные от темы и бессмысленные комментарии.
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>