<div id="request" class="popup">
    <div class="popup__wrapper _call">
        <div class="popup__form popup__inner">
            <form class="form">
                <h3 class="form__h">Запрос цены</h3>
                <div class="form__group">
                    <div class="form__group">
                        <span class="form__label js-form__label">
                            <input required>
                            <label>Ваше имя</label>                        
                        </span>
                        <span class="form__label js-form__label">
                            <input required>
                            <label>E-mail или телефон</label>                        
                        </span>
                    </div>
                    <p class="form__help">* Поля, обязательные для заполнения</p>
                </div>
                <div class="form__group">
                    <label class="checkbox">
                        <input type="checkbox" checked>
                        <span class="checkbox__text">
                            Подтверждаю свое согласие на <a href="#">обработку персональных данных</a>
                        </span>
                    </label>
                </div>
                <div class="form__group">
                    <img src="img/newCaptchaAnchor.png" style="max-width: 100%">
                </div>
                <div class="form__group">
                    <button type="submit" class="btn _secondary _solid">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>