<div id="@@id" class="popup">
    <div class="popup__wrapper _shipping">
        <div class="popup__form popup__inner">
            <form class="form shipping js-shipping">
                <h3 class="form__h _left">Рассчитать стоимость доставки</h3>
                <fieldset class="shipping__fieldset">
                    <legend class="shipping__legend">Адрес или точка на карте:</legend>
                    <div class="shipping__inputs">
                        <input name="shipping_distance" type="hidden" class="js-shipping__route-distance">
                        <input id="@@id_input" name="shipping_address" 
                               class="js-shipping__route-address" disabled>
                        <button type="button" class="shipping__inputs__reset js-shipping__reset" 
                                title="Очистить маршрут">
                            <i class="icon-close"></i>
                        </button>
                        <!--
                        <input type="number" min="0" value="45" class="no-spinners js-shipping__route-distance">
                        км
                        <span class="shipping__map-toggler">
                            <a href="#" class="shipping__map-toggler__inner _opened js-shipping__map-toggler">
                                <i class="icon-location"></i> Указать на карте
                            </a>
                        </span>
                        -->
                    </div>
                </fieldset>
                <div id="@@id_map" class="shipping__map js-shipping__map"></div>
                <fieldset class="shipping__fieldset">
                    <legend class="shipping__legend">Дата доставки:</legend>
                    <div class="shipping__date-input">
                        <input class="shipping__date-input js-shipping__date-input" readonly>
                    </div>
                </fieldset>
                <fieldset class="shipping__fieldset">
                    <legend class="shipping__legend">Выберите необходимый тип транспорта:</legend>
                    <div class="shipping__car-select">
                        <label class="checkbox _radio js-shipping__car-label">
                            <input type="radio" name="shipping_car" checked class="js-shipping__car-radio">
                            <span class="checkbox__text">
                                ГАЗель
                            </span>
                        </label>
                        <label class="checkbox _radio js-shipping__car-label">
                            <input type="radio" name="shipping_car" class="js-shipping__car-radio">
                            <span class="checkbox__text">
                                ГАЗ/Валдай
                            </span>
                        </label>
                        <label class="checkbox _radio js-shipping__car-label">
                            <input type="radio" name="shipping_car" class="js-shipping__car-radio">
                            <span class="checkbox__text">
                                5-тонник
                            </span>
                        </label>
                        <label class="checkbox _radio js-shipping__car-label">
                            <input type="radio" name="shipping_car" class="js-shipping__car-radio">
                            <span class="checkbox__text">
                                10-тонник
                            </span>
                        </label>
                    </div>
                    <div class="shipping__car-slider js-shipping__car-slider">
                        @@loop('../chunks/car-slider-item.html', [
                        {"title": "ГАЗель"},
                        {"title": "ГАЗ/Валдай"},
                        {"title": "5-тонник"},
                        {"title": "10-тонник"}
                        ])
                    </div>
                    <!--<p class="shipping__more"><a href="#">Подробнее об условиях доставки [PDF]</a></p>-->
                    <div class="shipping__promo">
                        <div class="shipping__promo__content">
                            <span class="shipping__promo__h">Льготная доставка!</span>
                            <span class="shipping__promo__text">В пределах Нижнего Новгорода с пн по пт стоимость доставки всего:</span>
                        </div>
                        <div class="shipping__promo__foot">
                            <span class="shipping__promo__accent">390 рублей</span>
                            <a href="#" class="shipping__promo__link">Узнать подробнее</a>
                        </div>
                        <span class="shipping__promo__badge">
                            <span class="shipping__promo__badge__text">
                                Выгодно
                            </span>
                        </span>
                    </div>
                </fieldset>
                <!--
                <fieldset class="shipping__fieldset">
                    <legend class="shipping__legend">Срок доставки и стоимость:</legend>
                    <div class="shipping__date-select">
                        <label class="text-radio _disabled">
                            <input type="radio" name="shipping_date" disabled>
                            <span class="text-radio__text">
                                Сегодня, 08.08
                                <span class="text-radio__text__muted _warning">доставить сегодня уже нельзя</span>
                            </span>
                        </label>
                        <label class="text-radio">
                            <input type="radio" name="shipping_date" checked>
                            <span class="text-radio__text">
                                Завтра, 09.08
                                <span class="text-radio__text__muted">550 <span class="rub">₽</span></span>
                            </span>
                        </label>
                        <label class="text-radio">
                            <input type="radio" name="shipping_date">
                            <span class="text-radio__text">
                                Послезавтра, 10.08
                                <span class="text-radio__text__muted">250 <span class="rub">₽</span></span>
                            </span>
                        </label>
                        <label class="text-radio js-shipping__datepicker-toggler">
                            <input type="radio" name="shipping_date">
                            <span class="text-radio__text _datepicker">
                                Определенная дата
                                <span class="text-radio__text__muted">550 <span class="rub">₽</span></span>
                            </span>
                        </label>
                    </div>
                    <div class="shipping__date-input js-shipping__date-input _empty">
                        <i class="icon-pen"></i>
                        <input name="shipping_date_selected" class="shipping__date-input__input js-shipping__date-input__input">
                    </div>
                </fieldset>
                -->
                <div class="shipping__summary _hidden js-shipping__summary">
                    <ul class="shipping__summary__list">
                        <li class="shipping__summary__list__item">
                            Расстояние до пункта назначения:
                            <span class="shipping__summary__list__accent">
                                <span class="js-shipping__route-distance-text"></span>&nbsp;км
                            </span>
                        </li>
                        <li class="shipping__summary__list__item">
                            Стоимость доставки:
                            <span class="shipping__summary__list__accent">550&nbsp;<span class="rub">₽</span></span>
                        </li>
                    </ul>
                    @@if (save) {
                    <div class="shipping__btns">
                        <button class="btn _primary _solid">Подтвердить</button>
                        <button class="btn _primary">Отменить</button>
                    </div>
                    }
                </div>
            </form>
        </div>
    </div>
</div>