.sprite {
    font-size: 10px;
}

.sprite:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 9.8em 129.2em;
}

.no-svg .sprite:before {
    background-image: url("../svg/sprite.png");
}



  .sprite.brick-and-stone:before {
      background-position: 0em 0em;
      width: 3.4em;
      height: 1.6em;
  }




  .sprite.brick-and-stone-o:before {
      background-position: 0em -1.6em;
      width: 3.4em;
      height: 1.6em;
  }




  .sprite.call-center:before {
      background-position: 0em -3.2em;
      width: 3.9em;
      height: 4.3em;
  }




  .sprite.cards:before {
      background-position: 0em -7.5em;
      width: 9.8em;
      height: 1.4em;
  }




  .sprite.counter:before {
      background-position: 0em -8.9em;
      width: 7em;
      height: 4.5em;
  }




  .sprite.delivery:before {
      background-position: 0em -13.4em;
      width: 4.3em;
      height: 2.4em;
  }




  .sprite.facade:before {
      background-position: 0em -15.8em;
      width: 2.9em;
      height: 2.3em;
  }




  .sprite.facade-o:before {
      background-position: 0em -18.1em;
      width: 2.9em;
      height: 2.3em;
  }




  .sprite.facebook:before {
      background-position: 0em -20.4em;
      width: 4.2em;
      height: 4.2em;
  }




  .sprite.fence:before {
      background-position: 0em -24.6em;
      width: 2.7em;
      height: 2.7em;
  }




  .sprite.fence-o:before {
      background-position: 0em -27.3em;
      width: 2.7em;
      height: 2.7em;
  }




  .sprite.fire-protect:before {
      background-position: 0em -30em;
      width: 2.2em;
      height: 2.7em;
  }




  .sprite.fire-protect-o:before {
      background-position: 0em -32.7em;
      width: 2.2em;
      height: 2.7em;
  }




  .sprite.flat-roof:before {
      background-position: 0em -35.4em;
      width: 3.4em;
      height: 2.1em;
  }




  .sprite.flat-roof-o:before {
      background-position: 0em -37.5em;
      width: 3.4em;
      height: 2.1em;
  }




  .sprite.gidro-vetro:before {
      background-position: 0em -39.6em;
      width: 1.4em;
      height: 3em;
  }




  .sprite.gidro-vetro-o:before {
      background-position: 0em -42.6em;
      width: 1.4em;
      height: 3em;
  }




  .sprite.groundwork:before {
      background-position: 0em -45.6em;
      width: 3.4em;
      height: 2.4em;
  }




  .sprite.groundwork-o:before {
      background-position: 0em -48em;
      width: 3.4em;
      height: 2.4em;
  }




  .sprite.info:before {
      background-position: 0em -50.4em;
      width: 2.7em;
      height: 2.7em;
  }




  .sprite.inside:before {
      background-position: 0em -53.1em;
      width: 2.4em;
      height: 3em;
  }




  .sprite.inside-o:before {
      background-position: 0em -56.1em;
      width: 2.4em;
      height: 3em;
  }




  .sprite.instagram:before {
      background-position: 0em -59.1em;
      width: 4.2em;
      height: 4.2em;
  }




  .sprite.list:before {
      background-position: 0em -63.3em;
      width: 2.9em;
      height: 2.6em;
  }




  .sprite.list-o:before {
      background-position: 0em -65.9em;
      width: 2.9em;
      height: 2.6em;
  }




  .sprite.mansard:before {
      background-position: 0em -68.5em;
      width: 2.8em;
      height: 2.1em;
  }




  .sprite.mansard-o:before {
      background-position: 0em -70.6em;
      width: 2.8em;
      height: 2.1em;
  }




  .sprite.map:before {
      background-position: 0em -72.7em;
      width: 4.3em;
      height: 4.3em;
  }




  .sprite.money:before {
      background-position: 0em -77em;
      width: 3.2em;
      height: 1.4em;
  }




  .sprite.roof:before {
      background-position: 0em -78.4em;
      width: 2.9em;
      height: 2em;
  }




  .sprite.roof-o:before {
      background-position: 0em -80.4em;
      width: 2.9em;
      height: 2em;
  }




  .sprite.technical-iso:before {
      background-position: 0em -82.4em;
      width: 2.8em;
      height: 1.9em;
  }




  .sprite.technical-iso-o:before {
      background-position: 0em -84.3em;
      width: 2.8em;
      height: 1.9em;
  }




  .sprite.twitter:before {
      background-position: 0em -86.2em;
      width: 4.2em;
      height: 4.2em;
  }




  .sprite.vent-house:before {
      background-position: 0em -90.4em;
      width: 2.3em;
      height: 2.9em;
  }




  .sprite.vent-house-o:before {
      background-position: 0em -93.3em;
      width: 2.3em;
      height: 2.9em;
  }




  .sprite.view-card:before {
      background-position: 0em -96.2em;
      width: 1.6em;
      height: 1.6em;
  }




  .sprite.view-grid:before {
      background-position: 0em -97.8em;
      width: 1.6em;
      height: 1.6em;
  }




  .sprite.vk:before {
      background-position: 0em -99.4em;
      width: 4.2em;
      height: 4.2em;
  }




  .sprite.warmth:before {
      background-position: 0em -103.6em;
      width: 2.4em;
      height: 3.3em;
  }




  .sprite.warmth-o:before {
      background-position: 0em -106.9em;
      width: 2.4em;
      height: 3.3em;
  }




  .sprite.warning:before {
      background-position: 0em -110.2em;
      width: 3.9em;
      height: 3.6em;
  }




  .sprite.wat:before {
      background-position: 0em -113.8em;
      width: 2.7em;
      height: 2.8em;
  }




  .sprite.wat-o:before {
      background-position: 0em -116.6em;
      width: 2.7em;
      height: 3em;
  }




  .sprite.waterproof:before {
      background-position: 0em -119.6em;
      width: 2.8em;
      height: 2.8em;
  }




  .sprite.waterproof-o:before {
      background-position: 0em -122.4em;
      width: 2.8em;
      height: 2.6em;
  }




  .sprite.youtube:before {
      background-position: 0em -125em;
      width: 4.3em;
      height: 4.2em;
  }





