.sprite {
    font-size: 10px;
}

.sprite:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 11.8em 364.2em;
}

.no-svg .sprite:before {
    background-image: url("../svg/sprite.png");
}



  .sprite.brick-and-stone:before {
      background-position: -1em -1em;
      width: 3.4em;
      height: 1.6em;
  }




  .sprite.brick-and-stone-big:before {
      background-position: -1em -4.6em;
      width: 4.4em;
      height: 2.1em;
  }




  .sprite.brick-and-stone-o:before {
      background-position: -1em -8.7em;
      width: 3.4em;
      height: 1.6em;
  }




  .sprite.call-center:before {
      background-position: -1em -12.3em;
      width: 3.9em;
      height: 4.3em;
  }




  .sprite.cards:before {
      background-position: -1em -18.6em;
      width: 9.8em;
      height: 1.4em;
  }




  .sprite.counter:before {
      background-position: -1em -22em;
      width: 7em;
      height: 4.5em;
  }




  .sprite.delivery:before {
      background-position: -1em -28.5em;
      width: 4.3em;
      height: 2.4em;
  }




  .sprite.delivery-care:before {
      background-position: -1em -32.9em;
      width: 4.3em;
      height: 5.1em;
  }




  .sprite.delivery-tooltip:before {
      background-position: -1em -40em;
      width: 2.2em;
      height: 1.4em;
  }




  .sprite.facade:before {
      background-position: -1em -43.4em;
      width: 2.9em;
      height: 2.3em;
  }




  .sprite.facade-big:before {
      background-position: -1em -47.7em;
      width: 3.5em;
      height: 2.8em;
  }




  .sprite.facade-o:before {
      background-position: -1em -52.5em;
      width: 2.9em;
      height: 2.3em;
  }




  .sprite.facebook:before {
      background-position: -1em -56.8em;
      width: 4.2em;
      height: 4.2em;
  }




  .sprite.fence:before {
      background-position: -1em -63em;
      width: 2.7em;
      height: 2.7em;
  }




  .sprite.fence-big:before {
      background-position: -1em -67.7em;
      width: 3.5em;
      height: 3.5em;
  }




  .sprite.fence-o:before {
      background-position: -1em -73.2em;
      width: 2.7em;
      height: 2.7em;
  }




  .sprite.fire-protect:before {
      background-position: -1em -77.9em;
      width: 2.2em;
      height: 2.7em;
  }




  .sprite.fire-protect-big:before {
      background-position: -1em -82.6em;
      width: 2.9em;
      height: 3.5em;
  }




  .sprite.fire-protect-o:before {
      background-position: -1em -88.1em;
      width: 2.2em;
      height: 2.7em;
  }




  .sprite.flat-roof:before {
      background-position: -1em -92.8em;
      width: 3.4em;
      height: 2.1em;
  }




  .sprite.flat-roof-big:before {
      background-position: -1em -96.9em;
      width: 4.1em;
      height: 2.5em;
  }




  .sprite.flat-roof-o:before {
      background-position: -1em -101.4em;
      width: 3.4em;
      height: 2.1em;
  }




  .sprite.geo-office:before {
      background-position: -1em -105.5em;
      width: 3.1em;
      height: 4.2em;
  }




  .sprite.geo-warehouse:before {
      background-position: -1em -111.7em;
      width: 3.1em;
      height: 4.2em;
  }




  .sprite.gidro-vetro:before {
      background-position: -1em -117.9em;
      width: 1.4em;
      height: 3em;
  }




  .sprite.gidro-vetro-big:before {
      background-position: -1em -122.9em;
      width: 1.7em;
      height: 3.6em;
  }




  .sprite.gidro-vetro-o:before {
      background-position: -1em -128.5em;
      width: 1.4em;
      height: 3em;
  }




  .sprite.groundwork:before {
      background-position: -1em -133.5em;
      width: 3.4em;
      height: 2.4em;
  }




  .sprite.groundwork-big:before {
      background-position: -1em -137.9em;
      width: 4.5em;
      height: 3.3em;
  }




  .sprite.groundwork-o:before {
      background-position: -1em -143.2em;
      width: 3.4em;
      height: 2.4em;
  }




  .sprite.hand-tools:before {
      background-position: -1em -147.6em;
      width: 2.9em;
      height: 3.4em;
  }




  .sprite.hand-tools-big:before {
      background-position: -1em -153em;
      width: 2.9843em;
      height: 3.5em;
  }




  .sprite.hand-tools-o:before {
      background-position: -1em -158.5em;
      width: 2.9em;
      height: 3.4em;
  }




  .sprite.info:before {
      background-position: -1em -163.9em;
      width: 2.7em;
      height: 2.7em;
  }




  .sprite.inside:before {
      background-position: -1em -168.6em;
      width: 2.4em;
      height: 3em;
  }




  .sprite.inside-big:before {
      background-position: -1em -173.6em;
      width: 2.8em;
      height: 3.6em;
  }




  .sprite.inside-o:before {
      background-position: -1em -179.2em;
      width: 2.4em;
      height: 3em;
  }




  .sprite.instagram:before {
      background-position: -1em -184.2em;
      width: 4.2em;
      height: 4.2em;
  }




  .sprite.list:before {
      background-position: -1em -190.4em;
      width: 2.9em;
      height: 2.6em;
  }




  .sprite.list-big:before {
      background-position: -1em -195em;
      width: 3.8em;
      height: 3.2em;
  }




  .sprite.list-o:before {
      background-position: -1em -200.2em;
      width: 2.9em;
      height: 2.6em;
  }




  .sprite.mansard:before {
      background-position: -1em -204.8em;
      width: 2.8em;
      height: 2.1em;
  }




  .sprite.mansard-big:before {
      background-position: -1em -208.9em;
      width: 3.6em;
      height: 2.7em;
  }




  .sprite.mansard-o:before {
      background-position: -1em -213.6em;
      width: 2.8em;
      height: 2.1em;
  }




  .sprite.map:before {
      background-position: -1em -217.7em;
      width: 4.3em;
      height: 4.3em;
  }




  .sprite.money:before {
      background-position: -1em -224em;
      width: 3.2em;
      height: 1.4em;
  }




  .sprite.money-office:before {
      background-position: -1em -227.4em;
      width: 1.9em;
      height: 1.6em;
  }




  .sprite.roof:before {
      background-position: -1em -231em;
      width: 2.9em;
      height: 2em;
  }




  .sprite.roof-big:before {
      background-position: -1em -235em;
      width: 3.9em;
      height: 2.6em;
  }




  .sprite.roof-o:before {
      background-position: -1em -239.6em;
      width: 2.9em;
      height: 2em;
  }




  .sprite.screw:before {
      background-position: -1em -243.6em;
      width: 2.4em;
      height: 3em;
  }




  .sprite.screw-big:before {
      background-position: -1em -248.6em;
      width: 2.7409999999999997em;
      height: 3.5em;
  }




  .sprite.screw-o:before {
      background-position: -1em -254.1em;
      width: 2.4em;
      height: 3em;
  }




  .sprite.technical-iso:before {
      background-position: -1em -259.1em;
      width: 2.8em;
      height: 1.9em;
  }




  .sprite.technical-iso-big:before {
      background-position: -1em -263em;
      width: 3.9em;
      height: 2.7em;
  }




  .sprite.technical-iso-o:before {
      background-position: -1em -267.7em;
      width: 2.8em;
      height: 1.9em;
  }




  .sprite.twitter:before {
      background-position: -1em -271.6em;
      width: 4.2em;
      height: 4.2em;
  }




  .sprite.vent-house:before {
      background-position: -1em -277.8em;
      width: 2.3em;
      height: 2.9em;
  }




  .sprite.vent-house-big:before {
      background-position: -1em -282.7em;
      width: 3em;
      height: 3.8em;
  }




  .sprite.vent-house-o:before {
      background-position: -1em -288.5em;
      width: 2.3em;
      height: 2.9em;
  }




  .sprite.view-card:before {
      background-position: -1em -293.4em;
      width: 1.6em;
      height: 1.6em;
  }




  .sprite.view-grid:before {
      background-position: -1em -297em;
      width: 1.6em;
      height: 1.6em;
  }




  .sprite.vk:before {
      background-position: -1em -300.6em;
      width: 4.2em;
      height: 4.2em;
  }




  .sprite.warmth:before {
      background-position: -1em -306.8em;
      width: 2.4em;
      height: 3.3em;
  }




  .sprite.warmth-big:before {
      background-position: -1em -312.1em;
      width: 2.8em;
      height: 3.9em;
  }




  .sprite.warmth-o:before {
      background-position: -1em -318em;
      width: 2.4em;
      height: 3.3em;
  }




  .sprite.warning:before {
      background-position: -1em -323.3em;
      width: 3.9em;
      height: 3.6em;
  }




  .sprite.wat:before {
      background-position: -1em -328.9em;
      width: 2.7em;
      height: 2.8em;
  }




  .sprite.wat-big:before {
      background-position: -1em -333.7em;
      width: 3.2em;
      height: 3.3em;
  }




  .sprite.wat-o:before {
      background-position: -1em -339em;
      width: 2.7em;
      height: 3em;
  }




  .sprite.waterproof:before {
      background-position: -1em -344em;
      width: 2.8em;
      height: 2.8em;
  }




  .sprite.waterproof-big:before {
      background-position: -1em -348.8em;
      width: 3.6em;
      height: 3.6em;
  }




  .sprite.waterproof-o:before {
      background-position: -1em -354.4em;
      width: 2.8em;
      height: 2.6em;
  }




  .sprite.youtube:before {
      background-position: -1em -359em;
      width: 4.3em;
      height: 4.2em;
  }





