@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "variables";
@import "mixins";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/utilities/embed";

body {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
*, *::before, *::after {
    position: relative;
    /*https://github.com/kenwheeler/slick/issues/982*/
    min-height: 0;
    min-width: 0;
}

/*@media (hover: none) {
    a:hover { color: inherit !important; }
}*/
:focus {
    outline: none;
}
.container {
    padding: 0 $container-padding-sm;
    @include media-breakpoint-up(md) {
        padding: 0 $container-padding-md;
    }
    @include media-breakpoint-up(lg) {
        padding: 0 $container-padding-lg;
    }
}
.hidden {
    display: none !important;
    &-md {
        @include media-breakpoint-only(md) {
            display: none !important;            
        }
    }
}
.necessaty_fields {
    display: none !important;;
}
.text-nowrap { white-space: nowrap !important; }
.list-unstyled {
    @include list-unstyled;
}

a, .link {
    outline: none;
    @include transition(opacity);
    color: $link-color;
    cursor: pointer;
    &:hover {
        opacity: $link-hover-opacity;
    }
}

.rub {
    font-family: $font-family-alt;
    font-weight: 500;
}

.hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $white;
    box-shadow: 0px 0px 10px rgba(0,0,0, .3);
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    margin-right: 0; 
    margin-left: 0; 
    width: auto;
    line-height: inherit;
}
[class^="icon-"] {
    &._middle {
        vertical-align: middle;
    }
}

.content {
    .content__overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $white;
        opacity: .95;
        z-index: 900;
    }
}
.wrapper {
    padding-top: 15px;
    margin-bottom: 70px;
    @include media-breakpoint-up(md) {
        padding-top: 20px;
    }
    @include media-breakpoint-up(lg) {
        padding-top: 33px;
        margin-bottom: 100px;
    }
}
.main-row {
    &__left {
        margin-bottom: 25px;
        @include media-breakpoint-up(md) {
            margin-bottom: 20px;
        }
    }
    @include media-breakpoint-up(lg) {
        display: flex;
        &__left {
            width: 276px;
            margin-bottom: 0;
            margin-right: 32px;
            flex-shrink: 0;
        }
        &__right {
            width: 892px;
        }
    }
}

/*@import "popups";*/
@import "sprite";
@import "components/forms";
@import "components/sliders";
@import "components/scrollbars";
@import "components/popups";
@import "components/header";
@import "components/minicart";
@import "components/block";
@import "components/cut";
@import "components/profits";
@import "components/partners";
@import "components/footer";
@import "components/social";
@import "components/promo";
@import "components/search";
@import "components/menu";
@import "components/region-select";
@import "components/catalog-menu";
@import "components/im-menu";
@import "components/rte";
@import "components/content-list";
@import "components/page-header";
@import "components/tabs";
@import "components/docs-icon";
@import "components/qa";
@import "components/tags";
@import "page-assets/catalog";
@import "page-assets/product";

.preloader {
    display: none !important;
}