@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "variables-print";
/*@import "mixins";*/
/*@import "node_modules/bootstrap/scss/grid";*/
@import "node_modules/bootstrap/scss/reboot";
/*@import "node_modules/bootstrap/scss/utilities/embed";*/

@page {
    margin: $gap 0;
}

body {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.text-nowrap { white-space: nowrap !important; }
a, a:visited {
    color: $primary;
}

tr {
    page-break-inside: avoid;
}

.print-data {
    width: 100%;
    td {
        padding: 10px 20px 10px 0;
        &:first-child {
            padding-left: $gap;
        }
        &:last-child {
            padding-right: $gap;
        }
    }
    tbody tr:nth-child(odd) {
        background-color: #f4f4f4;
    }
    img {
        width: 60px;
    }
}

.print-article {
    page-break-before: always;
}
.print-footer {
    margin-top: 40px;
    width: 100%;
    font-size: 13px;
    page-break-before: avoid;
    td {
        vertical-align: bottom;
        &:first-child {
            width: 40%;
            padding-left: $gap;
        }
        &:last-child {
            width: 40%;
            padding-right: $gap;
            text-align: right;
        }
    }
}

.print-header {
    margin-bottom: 30px;
    width: 100%;
    td {
        vertical-align: top;
        &:first-child {
            width: 40%;
            padding-left: $gap;
        }
        &:last-child {
            width: 40%;
            padding-right: $gap;
            text-align: right;
        }
    }
    &__h {
        font-family: $font-family-alt;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.25;
        margin-bottom: 20px;
    }
    &__lead {
        font-family: $font-family-alt;
        font-size: 14px;
        font-weight: 600;
        color: rgba($body-color, .5);
        margin-bottom: 0;
    }
}