@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "variables-print";
/*@import "mixins";*/
/*@import "node_modules/bootstrap/scss/grid";*/
@import "node_modules/bootstrap/scss/reboot";
/*@import "node_modules/bootstrap/scss/utilities/embed";*/

@page {
    margin: $gap 0;
}

html, body {
    height: 100%;
}

body {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.text-nowrap { white-space: nowrap !important; }
a, a:visited {
    color: $primary;
}

tr {
    page-break-inside: avoid;
}
table {
    width: 100%;
}

.print-data {
    td {
        padding: 10px 20px 10px 0;
        &:first-child {
            padding-left: $gap;
        }
        &:last-child {
            padding-right: $gap;
        }
    }
    tbody tr:nth-child(odd) {
        background-color: #f4f4f4;
    }
    img {
        width: 60px;
    }
}

.print-article {
    page-break-before: always;
    &._title {
        height: 100%;
        background-color: gray;
        /*        margin-top: - $gap;
                margin-bottom: - $gap;*/
    }
}

.print-title-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.print-title {
    height: 100%;
    &__wrapper {
        width: 350px;
    }
    &__inner {
        text-align: center;
        font-family: $font-family-alt;
        background-color: $white;
        position: relative;
    }
    &__head {
        padding: 30px 30px 150px;
        vertical-align: top;
    }
    &__content {
        font-size: 16px;
        color: #2a2a2a;
        &__h {
            font-size: 30px;
            font-weight: 600;
            color: $primary;
        }
    }
    &__foot {
        padding: 150px 30px 30px;
        vertical-align: bottom;        
        font-size: 18px;
        font-weight: 600;
        > * {
            display: block;
            line-height: 2;
        }
    }
}

.print-footer {
    margin-top: 40px;
    font-size: 13px;
    page-break-before: avoid;
    td {
        vertical-align: bottom;
        &:first-child {
            width: 40%;
            padding-left: $gap;
        }
        &:last-child {
            width: 40%;
            padding-right: $gap;
            text-align: right;
        }
    }
}

.print-header {
    margin-bottom: 30px;
    td {
        vertical-align: top;
        &:first-child {
            width: 40%;
            padding-left: $gap;
        }
        &:last-child {
            width: 40%;
            padding-right: $gap;
            text-align: right;
        }
    }
    &__h {
        font-family: $font-family-alt;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.25;
        margin-bottom: 20px;
    }
    &__lead {
        font-family: $font-family-alt;
        font-size: 14px;
        font-weight: 600;
        color: rgba($body-color, .5);
        margin-bottom: 0;
    }
}

.print-index {
    list-style-type: none;
    padding-left: $gap;
    padding-right: $gap;
    font-size: 13px;
    &__item {
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
        :first-child {
            float: left;
            background-color: $body-bg;
            padding-right: 1ex;
        }
        :last-child {
            width: 4ex;
            float: right;
            background-color: $body-bg;
            padding-left: 1ex;
        }
        &:after {
            content: '• • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • ';
            position: absolute;
            left: 0;
            right: 0;
            white-space: nowrap;
            overflow: hidden;
            color: #e4e4e4;
            font-size: 11px;
            line-height: 14px;
            z-index: -1;
        }
    }
    &__h {
        font-family: $font-family-alt;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.25;
        margin-bottom: 20px;
        margin-top: 50px;
        page-break-after: avoid;
        &:first-child {
            margin-top: 0;
        }
    }
}