<div class="block">
    <h3 class="block__h _border">Партнеры</h3>
    <div class="block__content">
        <div class="partners-list js-slider" data-slides='{"sm":2,"md":5,"lg":6}'>
            @@loop('item.html', [
            { "img": "1.png" },
            { "img": "2.png" },
            { "img": "3.png" },
            { "img": "4.png" },
            { "img": "5.png" },
            { "img": "6.png" },
            { "img": "7.png" },
            { "img": "8.png" },
            { "img": "9.png" }
            ])
        </div>
    </div>
</div>