<div class="rte-reviews__item">
    <div class="rte-reviews__item__head">
        <div class="rte-reviews__item__head__img-wrapper">
            <img class="rte-reviews__item__head__img"
                 src="img/content/@@img.jpg"
                 srcset="img/content/@@img@2x.jpg 2x,
                 img/content/@@img@3x.jpg 3x"
                 alt="alt-text">
        </div>
        <div class="rte-reviews__item__head__content">
            <span class="rte-reviews__item__head__content__h">@@name</span>
            <span class="rte-reviews__item__head__content__date">отзыв @@date</span>
        </div>
    </div>
    <div class="rte-reviews__item__text">
        @@text
    </div>
</div>