<div class="rte-reviews">
    <div class="reviews-text">
        @@include('../reviews/item-text.html', {
        "img": "reviews1",
        "name": "Дмитрий",
        "date": "15.05.2018",
        "text": "Покупал в САКСЭСе материалы для кровли. Всем очень доволен. Большой ассортимент кровельных материалов, быстрый расчёт, предложили несколько вариантов. Все доставили в срок. Буду советовать знакомым!"
        })
        @@include('../reviews/item-text.html', {
        "img": "reviews2",
        "name": "Светлана Александровна",
        "date": "11.06.2018",
        "text": "Добрый день! Хочется поблагодарить компанию «Саксэс» за хорошую работу и доброе отношение к клиентам. Покупали ондулин на свою дачу. Всё рассчитали, привезли. Молодцы."
        })
    </div>
    <a href="#" class="btn _primary rte__btn-more">Показать еще</a>
</div>