<form class="form _rte">
    <h3 class="form__h">Форма обратной связи</h3>
    <div class="form__group">
        <span class="form__label js-form__label">
            <input required>
            <label>Имя</label>                        
        </span>
        <span class="form__label js-form__label">
            <input required>
            <label>E-mail или телефон</label>                        
        </span>
        <span class="form__label js-form__label">
            <textarea required></textarea>
            <label>Ваше сообщение</label>                        
        </span>
        <span class="form__input-help">*поля обязательные для заполнения</span>
    </div>
    <div class="form__group">
        <label class="checkbox">
            <input type="checkbox" checked>
            <span class="checkbox__text">
                Подтверждаю свое согласие на <a href="#">обработку персональных данных</a>
            </span>
        </label>
    </div>
    <div class="form__group">
        <img src="img/newCaptchaAnchor.png" style="max-width: 100%">
    </div>
    <div class="form__group">
        <button type="submit" class="btn _primary _solid">Оставить комментарий</button>
    </div>
</form>