<div class="rte-qa__item js-rte-qa @@if(active == 1){_active}">
    <div class="rte-qa__q">
        <span class="rte-qa__h">Вопрос</span>
        <span class="rte-qa__text">Объясните, пожалуйста, температурный режим использования. 
            Почему от −5? Зимы у нас до −35 бывают.</span>
    </div>
    <div class="rte-qa__a">
        <span class="rte-qa__h">Ответ <i class="icon-logo"></i></span>
        <span class="rte-qa__text">
            На сайте указан диапазон температур, при котором рекомендуется укладка продукта. 
            Рабочий диапазон температур Ондувиллы от −60 до +110 градусов, настилается кровля 
            Ондувилла при температурах не ниже −5 и не выше +30 градусов. 
            При низких температурах Ондувилла становится хрупкой, в момент монтажа 
            это не очень хорошо.
        </span>
    </div>
</div>