<div class="rte-slider">
    <div class="rte-slider__main js-rte-slider__main">
        @@include('./rte-slider-item.html')
        @@include('./rte-slider-item.html')
        @@include('./rte-slider-item.html')
        @@include('./rte-slider-item.html')
        @@include('./rte-slider-item.html')
        @@include('./rte-slider-item.html')
    </div>
    <div class="rte-slider__nav js-rte-slider__nav">
        @@include('./rte-slider-nav-item.html')
        @@include('./rte-slider-nav-item.html')
        @@include('./rte-slider-nav-item.html')
        @@include('./rte-slider-nav-item.html')
        @@include('./rte-slider-nav-item.html')
        @@include('./rte-slider-nav-item.html')
    </div>
</div>