<div class="tabs js-tabs">
    <ul class="tabs__list">
        <li><a href="#tab1">Вкладка 1</a></li>
        <li><a href="#tab2">Вкладка 2</a></li>
    </ul>
    <span class="tabs__under js-tabs__under"></span>
    <div id="tab1" class="tabs__tab js-tabs__tab">
        <span class="tabs__tab__toggler">Вкладка 1</span>
        <div class="tabs__tab__content">
            <h3>Вкладка 1 — H3</h3>
            <p>Мягкая черепица (гибкая черепица, кровельная плитка) — это долговечный материал для покрытия кровель. В основном, он производится из стекловолокна с пропиткой модифицированным битумом или смолами. Благодаря своему составу черепица остается эластичной и гибкой даже при минусовых показателях термометра.</p>
            <p>Мягкая черепица выполнена в виде небольших плоских листов различных фигурных форм. Поверхность листов покрывают базальтовые гранулы, каменная крошка, медная и сланцевая посыпки. Благодаря верхнему слою черепица имеет необходимый цвет и защищена от агрессивных факторов внешней среды (ультрафиолета, влаги, механических повреждений). По своему внешнему виду мягкая кровля очень схожа с классической черепицей. Мягкая черепица (гибкая черепица, кровельная плитка) — это долговечный материал для покрытия кровель. В основном, он производится из стекловолокна с пропиткой модифицированным битумом или смолами. Благодаря своему составу черепица остается эластичной и гибкой даже при минусовых показателях термометра.</p>
        </div>
    </div>
    <div id="tab2" class="tabs__tab js-tabs__tab">
        <span class="tabs__tab__toggler">Вкладка 2</span>
        <div class="tabs__tab__content">
            <h3>Вкладка 2 — H3</h3>
            <p>Мягкая черепица (гибкая черепица, кровельная плитка) — это долговечный материал для покрытия кровель. В основном, он производится из стекловолокна с пропиткой модифицированным битумом или смолами. Благодаря своему составу черепица остается эластичной и гибкой даже при минусовых показателях термометра.</p>
            <p>Мягкая черепица выполнена в виде небольших плоских листов различных фигурных форм. Поверхность листов покрывают базальтовые гранулы, каменная крошка, медная и сланцевая посыпки. Благодаря верхнему слою черепица имеет необходимый цвет и защищена от агрессивных факторов внешней среды (ультрафиолета, влаги, механических повреждений). По своему внешнему виду мягкая кровля очень схожа с классической черепицей. Мягкая черепица (гибкая черепица, кровельная плитка) — это долговечный материал для покрытия кровель. В основном, он производится из стекловолокна с пропиткой модифицированным битумом или смолами. Благодаря своему составу черепица остается эластичной и гибкой даже при минусовых показателях термометра.</p>
        </div>
    </div>
</div>