.catalog-list {
    display: flex;
    .slick-track {
        display: flex;
        .catalog-list__item:last-child {
            border-right: none;

        }
    }
    &__item {
        display: flex !important;
        border-right: 1px solid $gray-border;
        width: 177px;
        @include media-breakpoint-up(lg) {
            width: 179px;
        }
        &__content {
            overflow: hidden;
            /*width: 177px;*/
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: space-between; 
            /*transition: all .2s ease-in-out;*/
            padding: 15px 12px 15px 15px;
            background-color: $white;
            /*            @include media-breakpoint-up(lg) {
                            width: 179px;
                        }*/
            &._card {
                @include media-breakpoint-up(md) {
                    padding-left: $container-padding-sm;
                    padding-right: $container-padding-md;
                    flex-direction: row;
                    .catalog-list__item {
                        &__head {
                            margin-bottom: 0;
                            margin-right: 30px;
                            display: flex;
                            /*                            &__content {
                                                            display: flex;
                                                            flex-direction: column;
                                                        }*/
                        }
                        &__foot {
                            flex-shrink: 0;
                        }
                        &__avail {
                            flex: 1;
                            margin-bottom: 15px;
                        }
                        &__img {
                            margin-bottom: 0;
                            margin-right: 20px;
                            width: 120px;
                            flex-shrink: 00;
                        }
                        &__link {
                            font-size: 16px;
                            font-weight: normal;
                            line-height: 1.38;
                        }
                        &__link-one-click {
                            font-size: 15px;
                            font-weight: 500;
                            display: inline-block;
                            position: absolute;
                            bottom: 0;
                        }
                        &__found {
                            font-size: 12px;
                            line-height: 17px;
                            font-weight: 500;
                            color: $red;
                            white-space: nowrap;
                            margin-top: 5px;
                            display: inline-block;
                            &:after {
                                content: '';
                                position: absolute;
                                display: block;
                                left: 0;
                                right: 0;
                                bottom: 0px;
                                border-bottom: 1px dashed rgba($red, 0.7);
                            }
                        }
                        &__price__row {
                            display: flex;
                            align-items: flex-end;
                            justify-content: flex-end;
                            margin-bottom: 11px;
                        }
                        &__price__col {
                            margin-bottom: 0;
                            margin-right: 10px;
                            text-align: right;
                            &:last-child {
                                margin-right: 0;
                                width: 145px;
                            }
                            .catalog-list__item__price__variant {
                                display: block;
                            }
                        }
                        &__price__del {
                            font-size: 22px;
                            line-height: 24px;
                        }
                        &__price__cost {
                            font-size: 26px;
                            line-height: 28px;
                        }
                        &__price__variant {
                            margin-top: 5px;
                            margin-bottom: 0;
                            font-size: 12px;
                            display: none;
                        }
                        &__buttons {
                            display: flex;
                        }
                        &__count {
                            display: flex;
                        }
                        &__btn-cart {
                            width: 145px;
                            font-size: 13px;
                            span {
                                display: inline;
                            }
                            [class^="icon-"] {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        &__head {
            margin-bottom: 30px;
            flex-grow: 1; //ie 11 bug
        }
        &__img {
            height: 120px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
        &__link {
            color: $body-color;
            font-size: 13px;
            font-weight: 500;
            line-height: 1.23;
            &:hover {
                color: $body-color;
            }
        }
        &__avail {
            display: block;
            opacity: 0.5;
            font-size: 12px;
            color: #2a2a2a;
            margin-top: 4px;
        }
        &__price {
            /*margin-bottom: 13px;*/
            &__variant {
                @include list-unstyled;
                font-size: 13px;
                line-height: 17px;
                color: $primary;
                li {
                    display: inline-block;
                    cursor: pointer;
                    &._active {
                        background-color: #ededed;
                        color: $body-color;
                        cursor: default;
                        padding: 0 5px;
                    }
                }
                margin-bottom: 9px;
            }
            /*            &__row {
                            display: flex;
                            align-items: flex-end;
                        }*/
            &__col {
                /*flex-basis: 50%;*/
                margin-bottom: 13px;
                /*                &:first-child {
                                    padding-right: 10px;
                                }*/
                &:last-child {
                    margin-bottom: 0;
                }
                .catalog-list__item__price__variant {
                    display: none;
                }
            }
            &__help {
                display: block;
                font-size: 12px;
                font-weight: 500;
                color: #545454;
                white-space: nowrap;
            }
            &__del {
                font-size: 19px;
                line-height: normal;
                font-weight: 500;
                color: #545454;
                text-decoration: none;
                white-space: nowrap;
                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50%;
                    height: 1px;
                    background-color: #545454;
                    @include ie10up {
                        top: 40%;
                    }
                }
            }
            &__na {
                font-size: 19px;
                line-height: 1;
                font-weight: 500;
                color: #545454;
                text-decoration: none;
                width: 100px;
                display: inline-block;
            }
            &__cost {
                font-size: 21px;
                font-weight: 600;
                line-height: 0.8;
                white-space: nowrap;
                color: $red;
            }
        }
        &__buttons {
            /*            display: flex;
                        align-items: center;
                        justify-content: space-between;*/
            position: absolute;
            right: 0;
            bottom: 0;
        }
        &__btn-cart {
            width: 42px;
            font-size: 19px;
            span {
                display: none;
            }
            &:disabled {
                opacity: 1;
            }
        }
        &__btn-one-click {
            font-size: 13px;
            line-height: 1.31;
        }
        &__link-one-click, &__found {
            display: none;
        }
        &__count {
            display: none;
            &__btn {
                color: #7b7b7b;
                cursor: pointer;
                border: none;
                line-height: 42px;
                /*width: 80px;*/
                padding: 0;
                margin: 0 12px;
                text-align: center;
                background-color: $white;
                font-size: 22px;
                outline: none;
                &:focus {
                    outline: none;                
                }
            }
            &__input {
                width: 42px;
                border: 1px solid #dadada;
                border-radius: $border-radius;
                line-height: 40px;
                font-size: 18px;
                text-align: center;
                color: rgba($body-color, .5);
                padding: 0;
            }
        }

        @include media-breakpoint-only(sm) {
            // новый вид на мобилке
            width: 100%;
            &__head {
                display: flex;
                margin-bottom: 15px;
            }
            &__img {
                height: auto;
                width: 100px;
                flex-shrink: 0;
                margin-right: 15px;
                margin-bottom: 0;
            }
            &__price__row {
                display: flex;
                align-items: flex-end;
            }
            &__price__col:first-child {
                margin-bottom: 0;
                width: 100px;
                margin-right: 15px;
            }
        }
    }
    &._fullwidth {
        .catalog-list__item {
            width: 177px;
            @include media-breakpoint-up(lg) {
                width: 200px;
            }
        }
    }
    &._results {
        flex-wrap: wrap;
        .catalog-list__item {
            border-bottom: 1px solid $gray-border;
            width: auto;
            flex-basis: 100%;
            @include media-breakpoint-only(md) {
                flex-basis: 25%;
                &:nth-child(4n) {
                    border-right-color: transparent;
                }
                @include ie10up {
                    flex-basis: 24%;
                    flex-grow: 1;
                }
            }
            @include media-breakpoint-only(lg) {
                flex-basis: 20%;
                &:nth-child(5n) {
                    border-right-color: transparent;
                }
                @include ie10up {
                    flex-basis: 19%;
                    flex-grow: 1;
                }
            }
            &._card {
                @include media-breakpoint-up(md) {
                    flex-basis: 100%;
                    border-right: none;
                }
            }
        }
    }
}
.catalog-list__item__content .product-badges {
    position: absolute;
    top: 0;
    left: 0;
}

.catalog {
    @include list-unstyled;
    margin-bottom: 0;
    @include media-breakpoint-up(md) {
        column-count: 2;
        column-gap: 40px;
    }
    @include media-breakpoint-up(lg) {
        column-count: 3;
    }
    &__item {
        break-inside: avoid;
        page-break-inside: avoid;
        margin-bottom: 45px;
        @include media-breakpoint-up(md) {
            margin-bottom: 50px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &__link, .catalog__item__checkbox__text {
            display: flex;
            align-items: center;
            color: #1f56aa;
            font-size: 16px;
            line-height: normal;
            margin-bottom: 20px;
            @include media-breakpoint-up(md) {
                font-size: 18px;
            }
            .sprite {
                width: 40px;
                text-align: center;
                font-size: 13px;
                margin-right: 12px;
                flex-shrink: 0;
                @include media-breakpoint-up(md) {
                    font-size: 14px;
                    margin-right: 15px;
                }
            }
        }
        &__link {
            &:last-child {
                margin-bottom: 0;
            }
        }
        .catalog__item__checkbox__text {
            &:before, &:after {
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    &__sub {
        @include list-unstyled;
        margin-bottom: 0;
        &__item {
            margin-bottom: 13px;
            &:last-child {
                margin-bottom: 0;
            }
            &__link {
                color: $body-color;
                font-size: $font-size-base;
            }
            &__muted {
                opacity: .5;
                margin-left: .5ex;
            }
        }
    }
}
.catalog-create-h {
    font-family: $font-family-alt;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 30px;
    @include media-breakpoint-up(md) {
        font-size: 18px;
        line-height: 1.28;
        margin-bottom: 20px;
    }
    @include media-breakpoint-up(lg) {
        font-size: 20px;
        line-height: 1.15;
    }
}
.catalog-create-head {
    background-color: $white;
    margin-left: - $container-padding-sm;
    margin-right: - $container-padding-sm;
    @include media-breakpoint-up(md) {
        margin-left: - $container-padding-md;
        margin-right: - $container-padding-md;
        margin-bottom: 30px;
        padding-left: $container-padding-md;
        padding-right: $container-padding-md;
        padding-top: 11px;
        padding-bottom: 11px;
        display: flex;
        justify-content: space-between;
    }
    @include media-breakpoint-up(lg) {
        margin-left: 0;
        margin-right: 0;
        padding-left: 11px;
        padding-right: 11px;
    }
    &._foot {
        margin-bottom: 0;
        margin-top: 20px;
    }
    .btn {
        font-size: 11px;
        line-height: 40px;
        padding-left: 30px;
        padding-right: 30px;
        @include media-breakpoint-up(md) {
            line-height: 33px;
            margin-right: 1ex;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__counter {
        opacity: 0.5;
        font-size: 14px;
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    @include media-breakpoint-down(sm) {
        &._head {
            display: none;
        }
        &._fixed {
            position: fixed;
            left: 15px;
            right: 15px;
            bottom: 0;
            z-index: 1;
        }
        .btn {
            border-radius: 0;
            border: none;
            padding-left: $container-padding-sm;
            padding-right: $container-padding-sm;
        }
        &__col {
            display: flex;
            justify-content: space-between;
            &._2 {
                .btn {
                    width: 100%;
                }
            }
        }
    }
}

.catalog-results {
    &__h {
        font-family: $font-family-alt;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.15;
        margin-bottom: 20px;
        margin-top: 30px;
        @include media-breakpoint-up(md) {
            font-size: 18px;
        }
        @include media-breakpoint-up(md) {
            font-size: 20px;
            margin-top: 46px;
            margin-bottom: 30px;
        }
    }
    .tags-wrapper {
        margin-bottom: 15px;
        @include media-breakpoint-up(md) {
            margin-bottom: 20px;
        }
    }
    .results {
        margin-bottom: 30px;
        /*        @include media-breakpoint-up(md) {
                    margin-bottom: 25px;
                }*/
        @include media-breakpoint-up(lg) {
            margin-bottom: 30px;
        }
    }
    &__related {
        margin-bottom: 20px;
        /*        @include media-breakpoint-up(md) {
                    margin-bottom: 50px;
                }*/
        &__h {
            font-family: $font-family-alt;
            font-size: 17px;
            font-weight: 600;
            line-height: 1.29;
            margin-bottom: 15px;
        }
        @include media-breakpoint-up(md) {
            font-size: 20px;
        }
    }
}